@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button, select {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input, button {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "微软雅黑";
}

button {
    cursor: pointer;
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/*防止拖动*/
textarea {
    resize: none;
}

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font: 12px/150% "微软雅黑" !important;
    color: #000;
    background-color: #fbfbfb;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

em, i {
    font-style: normal;
    text-decoration: none;
}

.overview {
    padding: 25px 40px 70px 25px;
}

.overview_left {
    float: left;
    width: 80%;
}

.overview_left_ul1 li {
    float: left;
    width: 31%;
    margin-right: 3.5%;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 20px 40px;
    background-color: #ff7f96;
}

.overview_left_ul1 li:nth-child(2) {
    background-color: #279efd;
}

.overview_left_ul1 li:nth-child(3) {
    background-color: #1ccfb4;
    margin-right: 0;
}

.overview_left_ul1 li h3 {
    font-size: 21px;
    line-height: 44px;
    color: #fff;
}

.overview_left_ul1 li p {
    font-size: 14px;
    line-height: 28px;
    color: #fff;
}

.overview_left_ul2 {
    margin: 40px 0;
}

.overview_left_ul2 li {
    float: left;
    width: 49%;
    box-sizing: border-box;
    margin-right: 2%;
    border: 1px solid #eee;
    padding: 15px;
    background-color: #fff;
}

.overview_left_ul2 li:last-child {
    margin-right: 0;
}

.overview_left_ul2 li h3 {
    font-size: 18px;
    line-height: 36px;
    padding: 0 10px;
    border-bottom: 1px solid #eee;
}

.nav a {
    float: left;
    width: 20%;
    padding-top: 20px;
    text-align: center;
}

.nav a h4 {
    font-size: 28px;
    line-height: 52px;
    color: #28d2b8;
}

.nav a p {
    font-size: 13px;
    line-height: 28px;
    color: #333;
}

.nav a img {
    height: 52px;
}

.data {
    background-color: #fff;
    padding: 12px 30px;
    height: 20vw;
    width: 60vw;
}

.data_tit {
    border-bottom: 1px solid #eee;
}

.data_tit h3 {
    float: left;
    font-size: 18px;
    line-height: 36px;
}

.data_tit h4 {
    float: right;
    font-size: 14px;
    line-height: 20px;
    border-radius: 8px;
    border: 1px solid #6a6a6a;
    margin-left: 18px;
    width: 60px;
    text-align: center;
    cursor: pointer;
}

.data_tit h4.on {
    background-color: #279efd;
    color: #fff;
    border-color: #279efd;
}

.data_nav p {
    float: left;
    font-size: 13px;
    line-height: 40px;
    margin-right: 27px;
}

.data_nav p span {
    float: right;
    width: 12px;
    height: 12px;
    background-color: #1696fd;
    margin: 14px 0 0 10px;
}

.data_nav p span.pink {
    background-color: #ff7f96;
}

.data_nav p span.green {
    background-color: #1ccfb4;
}

.data > img {
    width: 100%;
    margin-top: 10px;
    display: none;
}

.data > img.active {
    display: block;
}

.overview_left_ul3 li {
    float: left;
    width: 23.5%;
    border-radius: 6px;
    margin: 40px 2% 0 0;
    background-color: #f85959;
    text-align: center;
    padding: 20px 0;
}

.overview_left_ul3 li h3 {
    font-size: 22px;
    line-height: 44px;
    color: #fff;
}

.overview_left_ul3 li p {
    font-size: 14px;
    line-height: 36px;
    color: #fff;
}

.overview_left_ul3 li.li_orange {
    background-color: #feb822;
}

.overview_left_ul3 li.li_blue {
    background-color: #009afe;
}

.overview_left_ul3 li.li_green {
    background-color: #11cd63;
}

.overview_left_ul3 li:nth-child(4n) {
    margin-right: 0;
}

.overview_right {
    float: right;
    width: 18%;
}

.bor {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.overview_right_a a {
    display: block;
    font-size: 30px;
    line-height: 96px;
    text-align: center;
    color: #1ccfb4;
}

.ewm {
    text-align: center;
    padding: 20px 0;
}

.ewm img {
    height: 210px;
    margin-bottom: 18px;
}

.ewm h3 {
    font-size: 18px;
    line-height: 26px;
    color: #4e4e4e;
}

.ewm p {
    font-size: 13px;
    line-height: 21px;
    color: #4e4e4e;
}

.ewm p a {
    color: #ff2524;
    margin-left: 4px;
}

.overview_right_nav {
    padding: 14px 0;
}

.overview_right_nav a {
    float: left;
    width: 50%;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.overview_right_nav a img {
    height: 64px;
}

.overview_right_nav a p {
    font-size: 16px;
    line-height: 32px;
    color: #333;
}

.overview_right_nav a span {
    display: block;
    font-size: 12px;
    line-height: 22px;
    border-radius: 8px;
    background-color: #ff0000;
    width: 50px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 12px;
    left: 50%;
    margin-left: 10px;
}

.kefu {
    padding: 26px 10% 10px 10%;
    text-align: center;
}

.kefu h3 {
    font-size: 26px;
    line-height: 55px;
    border-radius: 30px;
    text-align: center;
    background-color: #1ccfb4;
    color: #fff;
}

.kefu p {
    font-size: 21px;
    line-height: 60px;
    text-align: center;
    color: #333;
}

.product {
    padding: 20px 10%;
}

.product h3 {
    font-size: 18px;
    line-height: 48px;
}

.product h3 a {
    color: #46d8c2;
    margin-left: 30px;
    font-size: 14px;
}

.product > a {
    display: block;
    font-size: 15px;
    line-height: 31px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* jys 后添加 */
.entering_customer_service {
    border: 1px solid #1ccfb4;
    border-radius: 6px;
    padding: 0.5vw 1vw 0.5vw 1vw;
}

#main {
    position: relative;
    float: left;
    height: 20vw;
    width: 60vw;
}

.change_click {
    position: absolute;
    margin-left: 50vw;
}

.change_click a {
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    font-size: 1vw;
    color: #000;
}

.onclick {
    background-color: #279efd;
    color: #fff;
}
