<title>权限设置</title>

<div class="layui-fluid">
    <!--弹出框-->
    <div class="layui-col-md12" style='display:none;'>
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">权限名称</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" placeholder="请输入权限名称"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">父级权限</label>
                <div class="layui-input-block">
                    <select name="pid">
                        <option value="">若不选择此项,默认该权限为根权限</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <!--body-->
    <div class="layui-row">
        <!--查询-->
        <div class="layui-col-md12">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入id"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <a class="layui-btn" lay-submit lay-filter="find">查询</a>
                        <a class="layui-btn" id="add">添加</a>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <!--数据表格-->
        <div class="layui-col-md12">
            <table id="views_set_system_permissions_table" lay-filter="views_set_system_permissions_table"
                   lay-data="{id: 'views_set_system_permissions_table'}"></table>
        </div>
    </div>
</div>
<!--表格工具条-->
<script type="text/html" id="opreationes">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!--状态码模板-->
<script type="text/html" id="statusTpl">
    {{#  if(d.status === '1'){ }}
    <span class="layui-btn layui-btn-xs layui-col-md8 layui-col-md-offset2">启用</span>
    {{#  } else { }}
    <span class="layui-btn layui-btn-xs layui-col-md8 layui-col-md-offset2 layui-btn-disabled">未启用</span>
    {{#  } }}
</script>
<script>
    layui.use('views_Useres_StaffManagement_permissions_Management', layui.factory('views_Useres_StaffManagement_permissions_Management'));
</script>
<style>
    form {
        margin-top: 10px;
    }
</style>