<title>管理员角色管理</title>

<div class="layui-fluid">
    <form class="layui-form" style="display:none;z-index:9999999;margin-top:20px;"
          id="LAY_StaffManagement_Staff_Management_form">
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-inline">
                <input type="text" name="SignatureContent" required lay-verify="required" placeholder="请输入角色名称"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <input type="radio" name="status" value="0" title="不启用">
                <input type="radio" name="status" value="1" title="启用">
            </div>
        </div>
    </form>
    <form lay-filter="LAY_StaffManagement_Staff_Management_assign_permission"
          id="LAY_StaffManagement_Staff_Management_assign_permission" class="layui-form" style="display:none;">
    </form>
    <div class="layui-col-md12">
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" name="searchName" placeholder="请输入id" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <a class="layui-btn" lay-submit lay-filter="find">查询</a>
                    <a class="layui-btn" lay-submit lay-filter="add" id="add">添加</a>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <table id="Post_management" lay-filter="opreation" lay-data="{id: 'Post_management'}"></table>
    <table lay-filter="LAY_StaffManagement_Staff_Management_look_members"
           id="LAY_StaffManagement_Staff_Management_look_members" class="layui-table"
           style="display:none;margin-top:0px;"></table>
    </body>
    <script>
        layui.use('Staff_Management', layui.factory('Staff_Management'));
    </script>

    <!--状态码模板-->
    <script type="text/html" id="statusTpl">
        {{#  if(d.status === '1'){ }}
        <span> 启用 </span>
        {{#  } else { }}
        <span> 不启用 </span>
        {{#  } }}
    </script>

    <script type="text/html" id="opreationes">
        <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="assign_permission">分配权限</a>
        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="look_members">查看成员</a>
    </script>
    <style>
        form {
            margin-top: 10px;
        }
    </style>
</div>