<title>商户列表</title>
<div class="layui-fluid">
    <!--查询-->
    <div class="layui-col-md12">
        <form class="layui-form layui-col-md11">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" name="searchName" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <select name="province" lay-filter="province">
                        <option value="">选择省</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="city" id="city">
                        <option value="">选择市</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <a class="layui-btn" lay-submit lay-filter="find">查询</a>
                </div>
            </div>
        </form>
    </div>
    <!--数据表格-->
    <div class="layui-col-md12">
        <table id="pageTable" lay-filter="pageTable" lay-data="{id: 'pageTable'}"></table>
        <div id="page"></div>
    </div>
</div>
<!--表格工具条-->
<script type="text/html" id="operations">
    {{# if(d.status == 0) { }}
    <a class="layui-btn layui-btn-xs" lay-event="edit">审核</a>
    {{# } }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<script>
    layui.use('users/merchant/proxy', layui.factory('users/merchant/proxy'));
</script>
<!--图片模板-->
<script type="text/html" id="imgTpl">
    <img class="layui-upload-img" style="width:40px; height:40px"
         src={{ d.pic_url }}>
</script>
<!--状态码模板-->
<script type="text/html" id="statusTpl">
    {{# if(d.status == 0) { }}
    <span class="layui-col-md8">待审核</span>
    {{# } else if(d.status == 1) { }}
    <span class="layui-col-md8">待支付</span>
    {{# } else if(d.status == 2) { }}
    <span class="layui-col-md8">审核不通过</span>
    {{# } else if(d.status == 3) { }}
    <span class="layui-col-md8">已开通vip</span>
    {{#  } else { }}
    <span class="layui-col-md8">类型错误</span>
    {{#  } }}
</script>
<style>
    /*列表展示图片时需要添加*/
    .layui-table-cell {
        height: auto;
    }

    #add_edit_form, #wx_form, #ali_form {
        margin-top: 20px;
        margin-right: 20px;
    }
</style>
