<div class='content'>
    <a class="layui-btn" lay-href="/app/list">返回应用</a>
    <form class="layui-form" id="add_edit_form">
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <span class="name"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <a class="layui-btn" lay-href="/user/password">修改密码</a>
                <a class="layui-btn bind_phone" style="display: none;" lay-href="/user/phone">绑定手机</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    layui.use('user/info', layui.factory('user/info'));
</script>
<script type="text/javascript" src="./src/lib/common.js"></script>
<script type="text/javascript" src="./jquery.min.js"></script>

<style>
    html {
        background: #f6f6f6;
    }

    #add_edit_form {
        margin: 20px auto;
        padding-top: 5vw;
        width: 60%;
    }

    .content {
        background: #fff;
        width: 36vw;
        height: 32vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        min-width: 730px;
        min-height: 547px;
        box-shadow: -10px 10px 150px rgba(152, 152, 152, 0.2);
        margin-top: 2vw;
    }

    .layui-input-inline {
        margin-top: 10px;
    }
</style>
