<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/user/login.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class='content'>
        <div class='login-content'>


            <div class="layadmin-user-login-main">
                <!--登陆-->

                <div class="container">
                    <div class="layadmin-user-login-box layadmin-user-login-header">
                        <p class='login-content-title'>登录</p>
                    </div>
                    <span class="wx_login">微信登录</span>
                    <div class="wx_qrcode"></div>
                    <div class="user_phone" style='display:none;'>
                        <div class="layui-form-item">
                            <input type="text" name="phone" id="LAY-user-login-cellphone" lay-verify="phone"
                                   placeholder="请输入手机号" class="layui-input">
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-xs7">
                                    <input type="text" name="vercode" id="LAY-user-login-smscode" lay-verify="required"
                                           placeholder="短信验证码" class="layui-input">
                                </div>
                                <div class="layui-col-xs5">
                                    <div style="margin-left: 10px; margin-top: 10px">
                                        <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid"
                                                id="LAY-user-forget-getsmscode">获取验证码
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="bind">绑定
                            </button>
                        </div>
                    </div>

                    <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-shouji"
                                   for="LAY-user-login-name"></label>
                            <input type="text" name="name" id="LAY-user-login-name" lay-verify="required"
                                   placeholder="手机号"
                                   class="layui-input">
                        </div>
                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                                   for="LAY-user-login-password"></label>
                            <input type="password" name="password" id="LAY-user-login-password" lay-verify="required"
                                   placeholder="密码" class="layui-input">
                        </div>
                        <!-- <div class="layui-form-item"> -->
                        <!-- <div class="layui-row"> -->
                        <!-- <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                               for="LAY-user-login-vercode"></label>
                        <input type="text" name="code" id="LAY-user-login-vercode" lay-verify="required"
                               placeholder="图形验证码" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <img src="" class="layadmin-user-login-codeimg captcha" id="LAY-user-get-vercode">
                        </div>
                    </div> -->


                        <div id="captcha"></div>
                        <div id="msg"></div>


                        <!-- </div> -->
                        <!-- </div> -->
                        <div class="layui-form-item" style="margin-bottom: 20px;margin-top: 10px;">
                            <input type="checkbox" name="remember" lay-skin="primary" title="记住密码">
                            <a lay-href="/user/forget" class="layadmin-user-jump-change layadmin-link"
                               style="margin-top: 7px;">忘记密码？</a>
                        </div>
                        <!-- <div class="layui-form-item">
                        <button class="layui-btn layui-btn-fluid"  >立即登录</button>
                    </div> -->
<!--                        <div class="layui-trans layui-form-item layadmin-user-login-other">-->
<!--                            <a lay-href="/user/reg" class="adduser layadmin-user-jump-change layadmin-link">还没有账号?-->
<!--                                立即注册</a>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <img class='login-img' src='src/images/1.png'>
    </div>
</div>

<script src="./src/controller/user/jigsaw.js"></script>
<script src="./jquery.min.js"></script>
<script>
    layui.use(['admin', 'form', 'user'], function () {
        var $ = layui.$
            , admin = layui.admin
            , setter = layui.setter
            , form = layui.form
            , router = layui.router()
            , search = router.search;
        // $('.captcha').attr('src', 'https://api.juanpao.com/loginCaptcha?v=' + new Date().getTime());
        // form.render();
        var url = setter.baseUrl;
        var open_index;
        var open_index_phone;//用户绑定手机的弹出层，不一定用到
        var wx_qrcode_div = $('.wx_qrcode');
        var user_phone_div = $('.user_phone');
        var username;//登录时用到的手机号
        var res_type;//类型，又接口获取，再传递给接口
        var wx_open_id;//扫码登录时回去到的用户open_id

        //判断是否登录，登录跳转到首页
        if (localStorage.getItem(setter.tableName) != '{}') {
            location.hash = '/app/list';
            return;
        }
        //滑块验证
        jigsaw.init({
            el: document.getElementById('captcha'),
            onSuccess: function () {
                $('.pic').hide();
                // document.getElementById('msg').innerHTML = '验证成功！';
                var name = $('input[name=name]').val();
                username = name;
                var password = $('input[name=password]').val();
                var subData = {
                    name: name,
                    password: password
                }
                if (name == '' || password == '') {
                    return false;
                }
                //请求登入接口
                $.ajax({
                    url: url + '/merchantLogin', //实际使用请改成服务端真实接口
                    data: subData,
                    xhrFields: {withCredentials: true},//携带cookie
                    type: 'post',
                    success: function (res) {
                        if (res.status != 200) {
                            layer.msg(res.message, {
                                offset: '15px'
                                , icon: 1
                                , time: 1000
                            }, function () {
                                // location.reload();//刷新体验感很差
                            });
                            return;
                        }
                        //判断是否关注公众号，如果没有关注，则弹出二维码关注
                        if (res.type) {
                            var user_type = res.type;
                            res_type = user_type;
                            if (user_type === 1) {
                                getQrCode();
                            }
                            return;
                        }
                        //请求成功后，写入 access_token
                        layui.data(setter.tableName, {
                            key: setter.request.tokenName
                            , value: res.data
                        });
                        //登入成功的提示与跳转
                        layer.msg('登入成功', {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        }, function () {
                            // sessionStorage.setItem('password', password);
                            layer.close(open_index);
                            localStorage.setItem("name", res.name);
                            localStorage.setItem("is_admin_login", '1');
                            location.hash = '/app/list';
                        });
                    }
                });
            },
            onFail: cleanMsg,
            onRefresh: cleanMsg
        });

        var myVar;
        var myVarQr;
        //微信登录点击事件
        $(document).off('click', '.wx_login').on('click', '.wx_login', function () {
            getQrCodeQr();
        });

        //账号密码检查用户是否关注公众号
        function is_follow(wechat_flag) {
            $.ajax({
                url: url + '/merchantCheck', //实际使用请改成服务端真实接口
                type: 'get',
                data: {wechat_flag: wechat_flag},
                success: function (res_follow) {
                    if (res_follow.status !== 200) {
                        myVar = setTimeout(function () {is_follow(wechat_flag)}, 2000);
                        return;
                    }
                    clearTimeout(myVar);//阻止函数的执行
                    //如果返回200，则请求登录接口，传参 wx_open_id
                    //请求绑定接口
                    $.ajax({
                        url: url + '/merchantBind', //绑定
                        data: {
                            'wx_open_id': res_follow.data,
                            name: username,
                            type: res_type
                        },
                        xhrFields: {withCredentials: true},//携带cookie
                        type: 'post',
                        success: function (res) {
                            if (res.status != 200) {
                                layer.msg(res.message, {
                                    offset: '15px'
                                    , icon: 1
                                    , time: 1000
                                }, function () {
                                    // location.reload();//刷新体验感很差
                                });
                                return;
                            }
                            if (!res.type) {
                                //请求成功后，写入 access_token
                                layui.data(setter.tableName, {
                                    key: setter.request.tokenName
                                    , value: res.data
                                });
                                //登入成功的提示与跳转
                                layer.msg('登入成功', {
                                    offset: '15px'
                                    , icon: 1
                                    , time: 1000
                                }, function () {
                                    layer.close(open_index);
                                    // sessionStorage.setItem('password', password);//去除保存密码
                                    localStorage.setItem("name", res.name);
                                    localStorage.setItem("is_admin_login", '1');
                                    location.hash = '/app/list';
                                });
                            }
                        }
                    });
                }
            });
        }

        //账号密码登录获取公众号二维码
        function getQrCode() {
            $.ajax({
                url: url + '/merchantWxPic', //获取公众号二维码
                type: 'get',
                success: function (res) {
                    if (res.status !== 200) {
                        layer.msg(res.message, {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        }, function () {
                            // location.reload();//刷新体验感很差
                        });
                    }
                    wx_qrcode_div.empty().append('<img style="width: 150px;height: 150px;" src="' + res.data.url + '"/>');
                    open_index = layer.open({
                        type: 1,
                        title: '检测到您未关注公众号，请先关注',
                        content: wx_qrcode_div,
                        shade: 0.1,
                        offset: '100px',
                        area: ['150px', '200px'],
                        success: function () {
                            is_follow(res.data.wechat_flag);
                        },
                        cancel: function () {
                            wx_qrcode_div.hide();
                            layer.close(open_index);
                            clearTimeout(myVar);//阻止函数的执行
                        }
                    })
                }
            });
        }

        //直接扫码登录检查用户是否关注公众号
        function is_follow_Qr(wechat_flag) {
            $.ajax({
                url: url + '/merchantCheck', //实际使用请改成服务端真实接口
                type: 'get',
                data: {wechat_flag: wechat_flag},
                success: function (res_follow) {
                    if (res_follow.status !== 200) {
                        myVarQr = setTimeout(function () {is_follow_Qr(wechat_flag)}, 2000);
                        return;
                    }
                    clearTimeout(myVarQr);//阻止函数的执行
                    wx_open_id = res_follow.data;
                    //如果返回200，则请求登录接口，传参 wx_open_id
                    //请求登入接口
                    $.ajax({
                        url: url + '/merchantLogin', //登录
                        data: {
                            'wx_open_id': wx_open_id
                        },
                        xhrFields: {withCredentials: true},//携带cookie
                        type: 'post',
                        success: function (res) {
                            if (res.status != 200) {
                                layer.msg(res.message, {
                                    offset: '15px'
                                    , icon: 1
                                    , time: 1000
                                }, function () {
                                    // location.reload();//刷新体验感很差
                                });
                                return;
                            }
                            wx_qrcode_div.hide();
                            layer.close(open_index);
                            layer.close(open_index_phone);
                            //判断是否绑定账号，如果没有绑定，则弹出层输入手机号绑定
                            if (res.type) {
                                var user_type = res.type;
                                res_type = user_type;
                                if (user_type === 2) {
                                    open_index_phone = layer.open({
                                        type: 1,
                                        title: '绑定账号',
                                        content: user_phone_div,
                                        shade: 0.1,
                                        offset: '100px',
                                        area: ['600px', '300px'],
                                        cancel: function () {
                                            user_phone_div.hide();
                                        }
                                    })
                                }
                                return;
                            }
                            //请求成功后，写入 access_token
                            layui.data(setter.tableName, {
                                key: setter.request.tokenName
                                , value: res.data
                            });
                            //登入成功的提示与跳转
                            layer.msg('登入成功', {
                                offset: '15px'
                                , icon: 1
                                , time: 1000
                            }, function () {
                                localStorage.setItem("name", res.name);
                                localStorage.setItem("is_admin_login", '1');
                                location.hash = '/app/list';
                            });
                        }
                    });
                }
            });
        }

        //直接扫码登录获取公众号二维码
        function getQrCodeQr() {
            $.ajax({
                url: url + '/merchantWxPic', //获取公众号二维码
                type: 'get',
                success: function (res) {
                    if (res.status !== 200) {
                        layer.msg(res.message, {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        }, function () {
                            // location.reload();//刷新体验感很差
                        });
                    }
                    wx_qrcode_div.empty().append('<img style="width: 150px;height: 150px;" src="' + res.data.url + '"/>');
                    open_index = layer.open({
                        type: 1,
                        title: '扫码登录',
                        content: wx_qrcode_div,
                        shade: 0.1,
                        offset: '100px',
                        area: ['150px', '200px'],
                        success: function () {
                            layer.close(open_index);
                            is_follow_Qr(res.data.wechat_flag);
                        },
                        cancel: function () {
                            wx_qrcode_div.hide();
                            clearTimeout(myVarQr);//阻止函数的执行
                        }
                    })
                }
            });
        }

        //发送短信验证码
        admin.sendAuthCode({
            elem: '#LAY-user-forget-getsmscode'
            , elemPhone: '#LAY-user-login-cellphone'
            , elemVercode: '#LAY-user-login-vercode'
            , ajax: {
                url: setter.baseUrl + '/merchantsSmsCode' //实际使用请改成服务端真实接口
            }
        });

        //微信绑定手机号
        form.on('submit(bind)', function () {
            //如果登录成功，获取到name和type进行绑定
            $.ajax({
                url: url + '/merchantBind', //绑定
                data: {
                    wx_open_id: wx_open_id,
                    name: $('input[name=phone]').val(),
                    vercode: $('input[name=vercode]').val(),
                    type: res_type
                },
                xhrFields: {withCredentials: true},//携带cookie
                type: 'post',
                success: function (res) {
                    if (res.status != 200) {
                        layer.msg(res.message, {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        }, function () {
                            // location.reload();//刷新体验感很差
                        });
                        return;
                    }
                    if (!res.type) {
                        //请求成功后，写入 access_token
                        layui.data(setter.tableName, {
                            key: setter.request.tokenName
                            , value: res.data
                        });
                        //登入成功的提示与跳转
                        layer.msg('登入成功', {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        }, function () {
                            layer.close(open_index);
                            layer.close(open_index_phone);
                            localStorage.setItem("name", res.name);
                            localStorage.setItem("is_admin_login", '1');
                            location.hash = '/app/list';
                        });
                    }
                }
            });
            return false;
        });
    });

    function cleanMsg() {
        document.getElementById('msg').innerHTML = ''
    }
</script>
<link type="text/css" rel="styleSheet" href="./src/style/user/jigsaw.css"/>
<style>
    html {
        background: #f6f6f6;
    }

    .layadmin-user-login-main {
        margin: 0 auto;
        width: 70%;
    }

    .content {
        background: #fff;
        width: 60vw;
        height: 32vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        min-width: 1024px;
        min-height: 547px;
        box-shadow: -10px 10px 150px rgba(152, 152, 152, 0.2);
        margin-top: 2vw;
    }

    .login-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .login-content-title {
        font-size: 2em;
        color: #000 !important;
    }

    .login-img {
        width: 50%;
        height: 100%;
    }

    .layui-btn {
        background: #37c9cc;
    }

    .adduser {
        margin: 0;
        font-size: 10px;
    }

    .layadmin-user-login-other {
        padding-top: 0;
    }

    /* 滑块验证 */
    .container {
        width: 310px;
        margin: 100px auto;
    }

    input {
        display: block;
        width: 290px;
        line-height: 40px;
        margin: 10px 0;
        padding: 0 10px;
        outline: none;
        border: 1px solid #c8cccf;
        border-radius: 4px;
        color: #6a6f77;
    }

    #msg {
        width: 100%;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        margin-left: 100px;
        color: #0366D6;
    }

    .user_phone {
        padding: 5px;
    }
</style>