<div class='content'>
    <a class="layui-btn" lay-href="/app/list">返回应用</a>
    <form class="layui-form" id="add_edit_form">
        <div class="layui-form-item">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-inline">
                <input type="password" name="old_pw" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="pw" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input type="password" name="confirm_pw" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <a class="layui-btn" lay-submit="" lay-filter="sub">保存</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    layui.use('user/password', layui.factory('user/password'));
</script>
<script type="text/javascript" src="./src/lib/common.js"></script>
<script type="text/javascript" src="./jquery.min.js"></script>
<style>
    html {
        background: #f6f6f6;
    }

    #add_edit_form {
        margin: 20px auto;
        padding-top: 5vw;
        width: 60%;
    }

    .content {
        background: #fff;
        width: 36vw;
        height: 32vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        min-width: 730px;
        min-height: 547px;
        box-shadow: -10px 10px 150px rgba(152, 152, 152, 0.2);
        margin-top: 2vw;
    }
</style>
