<div class='content'>
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div>vip申请</div>
            <div class="sub_form" style="display: none;">
                <!--可修改提交的审核信息-->
                <div class="layui-form-item">
                    <label class="layui-form-label">选择地址</label>
                    <div class="layui-input-inline">
                        <select name="province" id="province" lay-filter="region"></select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="city" id="city" lay-filter="region"></select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="area" id="area" lay-filter="region"></select>
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">详细地址</label>
                    <div class="layui-input-block" style="margin-right: 20px;">
                        <input name="addr" placeholder="请输入详细地址" lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">公司名称</label>
                    <div class="layui-input-inline">
                        <input name="company_name" placeholder="请输入公司名称" lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">联系电话</label>
                    <div class="layui-input-inline">
                        <input name="telephone" placeholder="请输入联系电话" lay-verify="required|phone" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">QQ</label>
                    <div class="layui-input-inline">
                        <input name="qq" placeholder="请输入QQ" lay-verify="required|number" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-inline">
                        <input name="email" placeholder="请输入邮箱" lay-verify="required|email" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <span class="status">待申请</span>
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <a class="layui-btn sub_btn" lay-submit="" lay-filter="sub" style="display: none;">提交审核</a>
                        <a class="layui-btn" lay-href="/app/list">返回应用</a>
                    </div>
                </div>
            </div>
            <div class="in_audit" style="display: none;">
                <!--审核中的显示-->
                审核中
            </div>
            <div class="vip_list" style="display: none;">
                <form class="layui-form">
                    <div class="layui-col-md10 layui-col-md-offset1 vip"></div>
                    <div class="layui-form-item a">
                        <a class="layui-btn next">下一步</a>
                    </div>
                </form>
            </div>
            <div class="pay_type" style="display: none;">
                <form class="layui-form">
                    <div class="layui-col-md10 layui-col-md-offset1">
                        <div class="layui-col-md12">
                            <div class="title">
                                请选择支付方式
                            </div>
                            <div class="payType" style="text-align: center">
                                <img class="aliPay pic"/>
                                <img class="wxPay pic"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item a">
                        <a class="layui-btn previous">上一步</a>
                    </div>
                </form>
            </div>
            <!--弹出层-->
            <form class="layui-form" style='display:none;' id="wxCode">
                <div class="layui-form-item">
                    <img class="wxCode" src="" alt="微信扫描二维码" style="height: 400px;width: 400px;"/>
                    <div class="layui-input-block">
                        <a class="layui-btn" id="btn" lay-submit lay-filter="sub">完成支付</a>
                    </div>
                </div>
            </form>
            <div class="success">
                <!--支付完成的显示-->
                支付完成
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">vip名称</label>
                    <div class="layui-input-block">
                        <span class="vip_name"></span>
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">折扣</label>
                    <div class="layui-input-block">
                        <span class="vip_discount"></span>
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">vip图片</label>
                    <div class="layui-input-block">
                        <image class="vip_pic_url" />
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">vip详细说明</label>
                    <div class="layui-input-block">
                        <span class="vip_detail_info"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.use('user/proxy', layui.factory('user/proxy'));
</script>
<script type="text/javascript" src="./jquery.min.js"></script>
<script type="text/javascript" src="./src/lib/common.js"></script>
<link type="text/css" rel="styleSheet" href="./src/style/app/add/apps.css"/>

<style>
    html {
        background: #f6f6f6;
    }

    .layadmin-user-login-main {
        margin: 20px auto;
        width: 100%;
    }

    .content {
        background: #fff;
        width: 60%;
        height: 32vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        min-width: 730px;
        min-height: 547px;
        box-shadow: -10px 10px 150px rgba(152, 152, 152, 0.2);
        margin-top: 2vw;
    }

    .layui-btn {
        background: #37c9cc;
    }

    .layadmin-user-login-body .layui-form-item .layui-input {
        padding-left: 10px;
    }

    .layui-col-md-offset1 {
        min-height: 20vw;
    }

    .pic {
        width: 200px;
        margin-left: 2vw;
        margin-right: 2vw;
    }
</style>