<!doctype html>
<html>
<head>
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div id='app'>
		<div class='title'>{{title}}</div>
		<p class='one' v-for='(item,index) in content'>{{item}}</p>
		<div class='content'>
			<div><!--one-->
				<div class='item-title'>{{one.title}}</div>
				<div class='item-content' v-for='(content,index) in one.content'>{{content}}</div>
			</div>
			<div><!--two-->
				<div class='item-title'>{{two.title}}</div>
				<div class='item-content' v-for='(content,index) in two.content'>{{content}}</div>
			</div>
			<div><!--three-->
				<div class='item-title'>{{three.title}}</div>
				<div class='item-content'>{{three.content1}}</div>
				<div class='item-content'>{{three.content2}}</div>
				<ul class='item-content'>
					<li v-for='item in three.li'>{{item}}</li>
				</ul>
				<div class='item-content' v-for='(content,index) in three.conetnt3'>{{content}}</div>
			</div>
			<div><!--four-->
				<div class='item-title'>{{four.title}}</div>
				<div class='item-content' v-for='(content,index) in four.content'>{{content}}</div>
			</div>
			<div><!--five-->
				<div class='item-title'>{{five.title}}</div>
				<div class='item-content' v-for='(content,index) in five.content'>{{content}}</div>
			</div>
			<div><!--six-->
				<div class='item-title'>{{six.title}}</div>
				<div class='item-content' v-for='(content,index) in six.content1'>{{content}}</div>
				<ul class='item-content'>
					<li v-for='item in six.li'>{{item}}</li>
				</ul>
				<div class='item-content' v-for='(content,index) in six.content2'>{{content}}</div>
			</div>
			<div><!--seven-->
				<div class='item-title'>{{seven.title}}</div>
				<div class='item-content' v-for='(content,index) in seven.content'>{{content}}</div>
			</div>
			<div><!--five-->
				<div class='item-title'>{{eight.title}}</div>
				<div class='item-content' v-for='(content,index) in eight.content'>{{content}}</div>
			</div>
		</div>
	</div>
</body>
<script>
	var app = new Vue({
		el:'#app',
		data:{
			title:'卷泡软件系统注册协议',
			content:['为使用卷泡软件服务（以下简称“本服务”），您应当阅读并遵守《卷泡软件注册协议》（以下简称“本协议”）以及专项规则等。请您务必审慎阅读、充分理解各条款内容，特别是免除或限制责任的相应条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制、免责条款可能以加粗形式提示您注意。','除非您已阅读并接受本协议所有条款，否则您无权使用卷泡软件服务。您对本服务的登录、查看、绑定公众号、填写信息等行为即视为您已阅读并同意本协议的约束。','如果您未满18周岁，请在法定监护人的陪同下阅读本协议及其他上述协议。'],
			one:{title:'一、协议的范围',content:['1.1 本协议是您与卷泡之间关于您使用卷泡软件服务所订立的协议。“卷泡”是指连云港卷泡网络科技有限公司及其相关服务可能存在的运营关联单位。“用户”是指注册、登录、使用卷泡软件的个人或组织，在本协议中更多地称为“您”。','1.2 本协议的内容包括以下条款及卷泡已经发布的或将来可能发布的各项规则，所有规则为本协议不可分割的一部分，与协议正文具有同等法律效力。本协议是您与卷泡共同签订的，适用于您在卷泡的全部活动。在您注册成为用户时，您已经阅读、理解并接受本协议的全部条款及各项规则，并承诺遵守中国的各类法律、法规、政策的规定，如有违反而导致任何法律后果的发生，您将以自己的名义独立承担所有相应的法律责任。','1.3 卷泡有权根据相关法律、法规、政策的要求及提供服务的需要不时地修改本协议或根据本协议制定、修改各类具体规则并在卷泡相关系统版块发布，请您适时注意本协议及具体规则的变更。若您在本协议及具体规则内容公告变更后继续使用本服务的，表示您已经阅读、理解并接受修改后的协议和具体规则内容，也将遵循修改后的协议和具体规则使用卷泡的服务；同时就您在协议和具体规则修订前通过卷泡进行的交易及其效力，视为您已同意并已按照本协议及有关规则进行了相应的授权和追认。若您不同意修改后的协议内容，您应立即停止使用卷泡相关的服务。','1.4 您通过自行或授权有关方根据本协议及卷泡有关规则、说明操作确认本协议后，本协议即在您和卷泡之间产生法律效力。本协议不涉及您与卷泡的其他用户之间因网上交易而产生的法律关系或法律纠纷。']},
			two:{
				title:'二、注册',content:["2.1 在您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，或您以其他卷泡允许的方式实际使用卷泡服务时，您即受本协议的约束。您可以使用您提供或确认的邮箱、手机号码或者卷泡允许的其它方式作为登录手段进入卷泡。","2.2 您了解并同意，如您系在卷泡官网完成的注册程序，只要您注册成功，您即可以获得您的登录名。您在此明确授权，您的账户信息在您注册成功时，已授权给卷泡使用，以使您更便捷地使用卷泡服务。","2.3 您了解并同意，为了帮助您更好地使用卷泡旗下所有软件产品的服务，卷泡有权获取您及您的用户方如下信息：您和您的用户提供的联系人姓名、手机号、地址以及您和您的用户在享受软件服务过程中产生的其他类信息。您同意卷泡及卷泡的合作方可以使用以上信息进行相关分析、改善卷泡旗下所有软件产品的内容，并使相关软件产品的内容、设计和服务更能符合用户的需求。","2.4 您可以对账户设置昵称，但您设置的昵称不得侵犯或涉嫌侵犯他人合法权益。如您设置的昵称涉嫌侵犯他人合法权益，卷泡有权终止向您提供服务，并注销您的账户。账户注销后，相应的昵称将开放给其他有权用户登记使用。","2.5 您应当妥善保管用户名和密码，且需对用户名和密码的安全负全部责任，同时对以用户名进行的所有活动和事件负全责。"]
			},
			three:{
				title:'三、用户使用规范',
				content1:'您理解并同意，您不得利用卷泡帐号制作、复制、发布、传播、如下干扰卷泡正常运营，以及侵犯其他用户或第三方合法权益的内容：',
				content2:'3.1 发布、传送、传播、储存违反国家法律法规禁止的内容：',
				li:[
					'(1)违反宪法确定的基本原则的；',
					'(2)危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；',
					'(3)损害国家荣誉和利益的；',
					'(4)煽动民族仇恨、民族歧视，破坏民族团结的；',
					'(5)破坏国家宗教政策，宣扬邪教和封建迷信的；',
					'(6)散布谣言，扰乱社会秩序，破坏社会稳定的；',
					'(7)散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；',
					'(8)侮辱或者诽谤他人，侵害他人合法权益的；',
					'(9)煽动非法集会、结社、游行、示威、聚众扰乱社会秩序；',
					'(10)以非法民间组织名义活动的；',
					'(11)含有法律、行政法规禁止的其他内容的。'
				],
				conetnt3:['3.2 发布、传送、传播、储存侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的内容；','3.3 涉及他人隐私、个人信息或资料的内容；','3.4 发表、传送、传播骚扰信息、广告信息及垃圾信息或含有任何性或性暗示的内容；','3.5 其他违反法律法规、政策及公序良俗、社会公德或干扰卷泡正常运营和侵犯其他用户或第三方合法权益内容的信息。']
			},
			four:{
				title:'四、卷泡服务内容',			
				content:['4.1 卷泡为您提供相关网络环境和技术支持。','4.2 卷泡有权对您的注册数据及交易行为进行查阅，发现注册数据或交易行为中存在任何问题，均有权向您发出询问或要求改正的通知，或者直接作出删除等处理。','4.3 对于您通过卷泡后台发布的违法违规信息，包括但不限于本协议第3.1条，卷泡有权在不通知您的前提下进行删除或采取其它限制性措施。']
			},
			five:{
				title:'五、知识产权',
				content:['5.1 卷泡在本服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权归卷泡所有，用户在使用本服务中所产生的内容的知识产权归用户或相关权利人所有。','5.2 除另有特别声明外，卷泡提供本服务时所依托软件的著作权、专利权及其他知识产权均归卷泡所有。','5.3 卷泡在本服务中所使用的“卷泡”、“juanpao”、及LOGO、卷泡相关功能的图标及LOGO等商业标识，其著作权或商标权归卷泡所有。','5.4 上述及其他任何本服务包含的内容的知识产权均受到法律保护，其他未经卷泡、用户或相关权利人许可的第三人，不得以任何形式进行使用或创造相关衍生作品。','5.5 任何未经卷泡书面同意及权利人许可的非法获取行为，均属违法侵权行为。您确认并同意，为及时、有效地保障您基于本服务的合法权益，您授权卷泡在发现您的合法权益（包括但不限于信息网络传播权、著作权等）可能受到侵害时，有权代为向涉嫌侵权的第三人采取法律手段进行维权，授权采取的法律手段包括但不限于发函警告、提起诉讼、申请仲裁、移送侦查机关处理等。']
			},
			six:{
				title:'六、责任限制和免责',
				content1:['6.1 鉴于网络服务的特殊性，您同意卷泡会变更、中断部分或全部的网络服务，并按本协议规定删除您在使用服务中提交的任何资料，而无需通知您，也无需承担任何责任。','6.2 您承诺向卷泡及卷泡合作方提供的您方及您方用户资料（包括但不限于：姓名、地址、手机号等）真实、准确、完整及有效，符合中华人民共和国有关法律法规的规定，获得完全授权且不存在侵犯任何第三方合法权益的行为。若您冒用、盗用他人信息所导致的一切后果，由您个人承担。若因您的违法违规行为，导致卷泡或卷泡的合作方陷入争议或诉讼纠纷，您应向卷泡或卷泡的合作方赔偿一切实际损失。','6.3 您理解并同意，因业务发展需要，卷泡保留单方面对本服务的全部或部分服务内容在任何时候不经任何通知的情况下变更、暂停、限制、终止或撤销的权利，用户需承担此风险。','6.4 用户在使用本服务时，须自行承担如下卷泡不可掌控的风险内容，包括但不限于：'],
				li:[
					'(1)由于受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏等不可抗拒因素可能引起的信息丢失、泄漏等风险；',
					'(2)用户或卷泡的电脑软件、系统、硬件和通信线路出现故障；',
					'(3)用户操作不当使用本服务；',
					'(4)其他卷泡无法控制或合理预见的情形。'
				],
				content2:[
					'6.5 卷泡依据本协议约定获得处理违法违规内容或行为的权利，该权利不构成卷泡的义务或承诺，卷泡不能保证及时发现违法违规情形或进行相应处理。','6.6 若卷泡发现您因包括但不限于组织机构解散、注销、被吊销等任何原因导致民事行为能力、民事权利能力终止的情况，为保障用户和其他主体的合法权益，将有权决定立即终止本服务，且无需承担任何责任。'
				]
			},
			seven:{
				title:'七、通知',
				content:['7.1 您应当准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便卷泡或其他用户与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用卷泡服务过程中产生任何损失或增加费用的，应由您完全独自承担。','7.2 您了解并同意，您有义务保持您提供的联系方式的有效性，如有变更需要更新的，您应按卷泡的要求进行操作。']
			},
			eight:{
				title:'八、法律适用、管辖及其他',
				content:['8.1 本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国大陆地区法律，如无相关法律规定的，则应参照通用国际商业惯例和（或）行业惯例。','8.2 本协议无意结成或创设任何代理、合伙、合营、雇佣与被雇佣或特性授权与被授权关系。','8.3 您同意卷泡因经营业务需要有权将本协议项下的权利义务就部分或全部进行转让，而无须再通知予您并取得您的同意。','8.4 因本协议或卷泡服务所引起或与其有关的任何争议应向卷泡所在地人民法院提起诉讼。','8.5 本协议取代您和卷泡先前就相同事项订立的任何书面或口头协议。倘若本协议任何条款被裁定为无效或不可强制执行，该项条款应被撤销，而其余条款应予遵守和执行。条款标题仅为方便参阅而设，并不以任何方式界定、限制、解释或描述该条款的范围或限度。卷泡未就您或其他人士的某项违约行为采取行动，并不表明卷泡撤回就任何继后或类似的违约事件采取行动的权利。']
			}
		}
	})
</script>
<style>
	*{
		margin:0;
		padding:0;
	}
	#app{
		width:60vw;
		min-width:1000px;
		margin:0 auto;
	}
	.title{
		text-align:center;
		font-size:30px;
		margin-top:50px;
		margin-bottom:20px;
	}
	.one{
		line-height:23px;
		font-weight:300;
	}
	.content{
		margin-top:25px;
		line-height:23px;
		margin-bottom:50px;
	}
	.item-title{
		font-size:20px;
		line-height:30px;
	}
	.item-content{
		margin-left:40px;
		letter-spacing:1px;
		font-size:15px;
	}
	li{
		list-style:none;
		margin-left:36px;
	}
</style>
</html>