.layui-col-md12{
    margin-top: 3vw;
    text-align: center;
}
.header-top{
        width: 100%;
        height:50px;
        line-height: 50px;

}
.header-top .pic_url{
    width: 6vw;
    height: 2vw;
    padding-bottom: 0.5vw;

}
/* b{
    display: inline-block;
    font-size: 1vw;
    padding-right: 4.5vw;
    width: 6vw;
    height: 2vw;
} */
.header-top .name{
    color:#000;  
    display: inline-block;
    font-size: 1vw;
    padding-right: 4.5vw;
    width: 6vw;
    height: 2vw;
}
#main{
    /* background-color: grey; */
    width: 50vw;
    height: 25vw;
    margin-left: 17.5vw;
}

.first{
    width: 12vw;
    height: 140px;
    background: #7BBAE3;
    text-align: center;
    padding-top: 2.5vw;
    font-size: 1vw;
    margin-left: 18vw;
}
.two{
    background: #ED8178;
    width: 12vw;
    height: 140px;
    text-align: center;
    padding-top: 2.5vw;
    font-size: 1vw;

}

.three{
    background: #57C78A;
    width: 12vw;
    height: 140px;
    text-align: center;
    padding-top: 2.5vw;
    font-size: 1vw;
}
.four{
    background-color: grey;
    width: 12vw;
    height: 140px;
    text-align: center;
    padding-top: 2.5vw;
    font-size: 1vw;
}
.five{
    background: blue;
    width: 12vw;
    height: 140px;
    text-align: center;
    padding-top: 2.5vw;
    font-size: 1vw;
}
p{
    color:#fff;  
}
span{
    color:#fff;
}
.layui-layout-admin .layui-body .layadmin-tabsbody-item{
    margin-left: -5vw;
}