<section id="uicut-app">
    <section class="uc-section41">
        <div class="box box1">
            <div class="item item1"><span class="tt">时间范围</span>
                <input type="text" id="date-range0" placeholder="请选择时间范围">
                <a href="javascript:void(0)" class="btn btn-red empty_time">清除</a>
            </div>
            <div class="item item2"><span class="tt">关键词</span>
                <input type="text" name="listSearchName" placeholder="请输入昵称、真实姓名或手机号">
            </div>
            <!--<div class="item item3"><span class="tt">选择团长</span>-->
            <!--<input type="text" placeholder="请输入">-->
            <!--<a href="" class="btn btn-gray">选择团长</a>-->
            <!--<a href="" class="btn btn-red">清除</a>-->
            <!--</div>-->
            <div class="item item4">
                <span class="tt">城市</span>
                <input type="text" name="search_city" placeholder="请输入">
                <input type="submit" value="搜索" class="btn list_search">
            </div>
        </div>
        <div class="box box2">
            <div class="g-table">
                <table class="groupList">

                </table>
            </div>
        </div>
        <div id="page" style="margin-bottom: 60px;"></div>
    </section>
    <div class="groupInfo" style="display: none;"></div>
    <!--绑定商品弹出层-->
    <form class="layui-form" style='display:none;' id="goods_form">
        <div class="layui-form-item" style="margin-left: 20px;margin-top: 20px">
            <div class="layui-input-inline">
                <input name="searchNameG" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <a class="layui-btn" lay-submit lay-filter="findG">查询</a>
            </div>
        </div>
        <!--数据表格-->
        <div class="layui-col-md12">
            <table id="pageTableGoods" lay-filter="pageTableGoods" lay-data="{id: 'pageTableGoods'}"></table>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <a class="layui-btn" lay-submit lay-filter="goods_save">保存</a>
            </div>
        </div>
    </form>
    <!--添加核销员弹出层-->
    <form class="layui-form" style='display:none;' id="add_write_off_form">
        <div class="layui-form-item" style="margin-left: 20px;margin-top: 20px">
            <div class="layui-input-inline">
                <input name="searchNameAWO" placeholder="请输入团员姓名" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <a class="layui-btn" lay-submit lay-filter="findAWO">查询</a>
            </div>
        </div>
        <!--数据表格-->
        <div class="layui-col-md12">
            <table id="pageTable" lay-filter="pageTable" lay-data="{id: 'pageTable'}"></table>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <a class="layui-btn" lay-submit lay-filter="add_write_off_save">保存</a>
            </div>
        </div>
    </form>
    <!--查看核销员弹出层-->
    <form class="layui-form" style='display:none;' id="show_write_off_form">
        <div class="layui-form-item" style="margin-left: 20px;margin-top: 20px">
            <div class="layui-input-inline">
                <input name="searchNameSWO" placeholder="请输入团员姓名" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <a class="layui-btn" lay-submit lay-filter="findSWO">查询</a>
            </div>
        </div>
        <!--数据表格-->
        <div class="layui-col-md12">
            <table id="pageTableShow" lay-filter="pageTableShow" lay-data="{id: 'pageTableShow'}"></table>
        </div>
    </form>
    <!--旗下团员弹出层-->
    <form class="layui-form" style='display:none;' id="count_form">
        <div class="layui-form-item" style="margin-left: 20px;margin-top: 20px">
            <div class="layui-input-inline">
                <input name="searchNameC" placeholder="请输入团员姓名" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <a class="layui-btn" lay-submit lay-filter="findC">查询</a>
            </div>
        </div>
        <!--数据表格-->
        <div class="layui-col-md12">
            <table id="pageTableCount" lay-filter="pageTableCount" lay-data="{id: 'pageTableCount'}"></table>
        </div>
    </form>
    <!--修改团长状态弹出层-->
    <form class="layui-form" style='display:none;' id="state_form">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="radio" name="state" value="0" title="正常"/>
                <input type="radio" name="state" value="1" title="冻结"/>
                <input type="radio" name="state" value="2" title="关闭"/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <a class="layui-btn" id="btn" lay-submit lay-filter="state_sub">提交</a>
            </div>
        </div>
    </form>
</section>
<script type="text/javascript"
        src="https://webapi.amap.com/maps?v=1.4.8&key=8464048ba4a22195cef4077d5f796bf7&plugin=AMap.ToolBar,AMap.Driving,AMap.PlaceSearch,AMap.Geocoder"></script>
<link type="text/css" rel="styleSheet" href="./src/style/goods/group.css"/>
<link type="text/css" rel="styleSheet" href="./group/css/main.css"/>
<link type="text/css" rel="stylesheet" href="./start/layui/css/modules/code.css"/>
<script type="text/javascript" src="./src/lib/common.js"></script>
<script src="group/js/moment.min.js"></script>
<script src="group/js/jquery.daterangepicker.min.js"></script>
<link href="group/css/daterangepicker.min.css" rel="stylesheet">
<script type="text/javascript">
    layui.use('customers/selfRaisingPoint', layui.factory('customers/selfRaisingPoint'));
</script>
<script type="text/html" id="operations">
    <a class="layui-btn layui-btn-xs" lay-event="cancel">撤销</a>
</script>
<!--图片模板-->
<script type="text/html" id="imgTpl">
    <img class="layui-upload-img" style="width:40px; height:40px"
         src={{ d.avatar }}>
</script>
<script>
    $(function () {
        if (!window['console']) {
            window.console = {};
            window.console.log = function () {
            };
        }
        $.dateRangePickerLanguages['custom'] =
            {
                'selected': 'Choosed:',
                'days': 'Days',
                'apply': 'Close',
                'week-1': 'Mon',
                'week-2': 'Tue',
                'week-3': 'Wed',
                'week-4': 'Thu',
                'week-5': 'Fri',
                'week-6': 'Sat',
                'week-7': 'Sun',
                'month-name': ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                'shortcuts': 'Shortcuts',
                'past': 'Past',
                '7days': '7days',
                '14days': '14days',
                '30days': '30days',
                'previous': 'Previous',
                'prev-week': 'Week',
                'prev-month': 'Month',
                'prev-quarter': 'Quarter',
                'prev-year': 'Year',
                'less-than': 'Date range should longer than %d days',
                'more-than': 'Date range should less than %d days',
                'default-more': 'Please select a date range longer than %d days',
                'default-less': 'Please select a date range less than %d days',
                'default-range': 'Please select a date range between %d and %d days',
                'default-default': 'This is costom language'
            };

        $('#date-range0').dateRangePicker({})
    });
</script>
<style>
    #add_write_off_form .layui-table-cell {
        width: 170px;
    }

    #add_write_off_form .laytable-cell-checkbox {
        width: 60px;
    }

    #uicut-app input[type="text"], #uicut-app input[type="password"], #uicut-app select {
        width: 50px;
    }

    #show_write_off_form .layui-table-cell {
        width: 148px;
    }

    #count_form .layui-table-cell {
        width: 200px;
    }

    #goods_form .layui-table-cell {
        width: 180px;
    }

    #goods_form .laytable-cell-checkbox {
        width: 60px;
    }
</style>
