<title>评价管理</title>
<div class="layui-fluid">
    <!--<div class="layui-col-md12">-->
        <!--<form class="layui-form layui-col-md11">-->
            <!--<div class="layui-form-item">-->
                <!--<div class="layui-input-inline">-->
                    <!--<input name="searchName" placeholder="请输入名称" autocomplete="off" class="layui-input">-->
                <!--</div>-->
                <!--<div class="layui-input-inline">-->
                    <!--<a class="layui-btn" lay-submit lay-filter="find">查询</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
    <!--数据表格-->
    <div class="layui-col-md12">
        <table id="pageTable" lay-filter="pageTable" lay-data="{id: 'pageTable'}">
        </table>
    </div>
</div>
<!--添加/编辑签名-->
<script type="text/javascript">
    layui.use('order/evaluate', layui.factory('order/evaluate'));
</script>
<script type="text/html" id="operations">
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<!--商品图片模板-->
<script type="text/html" id="goodsImgTpl">
    <img class="layui-upload-img imgClickEvent" style="width:40px; height:40px; cursor: pointer;"
         src={{ d.pic_url }}>
</script>
<!--&lt;!&ndash;评论图片模板&ndash;&gt;-->
<!--<script type="text/html" id="imgTpl">-->
    <!--<img class="layui-upload-img imgClickEvent" style="width:40px; height:40px; cursor: pointer;"-->
         <!--src={{ d.pics_url }}>-->
<!--</script>-->
<!--&lt;!&ndash;应用类型模板&ndash;&gt;-->
<!--<script type="text/html" id="typeTpl">-->
    <!--{{#  if(d.type == '1'){ }}-->
    <!--<span class="layui-col-md8">好评</span>-->
    <!--{{#  } else if(d.type == '2'){ }}-->
    <!--<span class="layui-col-md8">中评</span>-->
    <!--{{#  } else if(d.type == '3'){ }}-->
    <!--<span class="layui-col-md8">差评</span>-->
    <!--{{#  } else { }}-->
    <!--<span class="layui-col-md8">类型错误</span>-->
    <!--{{#  } }}-->
<!--</script>-->
<!--状态码模板-->
<script type="text/html" id="statusTpl">
    <input type="checkbox" value="{{d.id}}" lay-skin="switch" lay-text="显示|隐藏" lay-filter="statusTpl" {{
           d.status== 1 ? 'checked' : '' }}>
</script>
<link type="text/css" rel="styleSheet"  href="./src/style/model.css" />
<script type="text/javascript" src="./src/lib/common.js"></script>
