<title>管理员角色管理</title>

<div class="layui-fluid">
		<form class="layui-form" style='display:none;' id="LAY_StaffManagement_Post_Management_form">
			<div class="layui-form-item">
				<label class="layui-form-label">姓名</label>
				<div class="layui-input-block">
					<input type="text" name="name" required lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">密码</label>
				<div class="layui-input-block">
					<input type="text" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">备注</label>
				<div class="layui-input-block">
					<input type="text" name="note" placeholder="请输入备注,非必要" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">管理组</label>
				<div class="layui-input-block" id="admin_list">
					
				</div>
			</div>
		</form>
		<div class="layui-col-md12">
			<form class="layui-form">
				<div class="layui-form-item">
					<div class="layui-input-inline">
						<input type="text" name="title"  placeholder="请输入id" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-input-inline">
						<a class="layui-btn" lay-submit lay-filter="find">查询</a>
						<a class="layui-btn" lay-submit lay-filter="add">添加</a>
					</div>
				</div>
			</form>
		</div>
		<hr>
	<!--员工列表-->
	<table id="Post_list" lay-filter="opreation" class="layui-col-md12"></table>
	<!--添加/编辑签名-->
  <script type="text/javascript">
		layui.use('Post_Management', layui.factory('Post_Management'));
  </script>
	<script type="text/html" id="opreationes">
		<a class="layui-btn layui-btn-xs" lay-event="edit">修改权限密码</a>
		<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
	</script>
	<!--状态码模板-->
	<script type="text/html" id="statusTpl">
		<input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="sexDemo" {{ d.status == 1 ? 'checked' : '' }}>
	</script>
	<style>
		form{
			margin-top:10px;
			margin-right:20px
		}
	</style>
</div>
