.layui-logo img {
  width: 32%;
  height: 74%;
  /*float:left;*/
  display: inline-block;
  /*margin:13px -9px 0px 9px;*/
}

.layui-logo-right {
  line-height: 54px;
  margin-left: -8px;
}

/* 侧边菜单栏 */
._nav {
  width: 108px;
  position: absolute;
  top: 50px;
  left: 0;
  height: 100%;
  z-index: 6;
  background-color: #1D1F26;
  /* background: linear-gradient(to right, #84d9d2, #07cdae); */
  z-index: 1002;
}

.item_header_title img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
}

.sideNav-menu img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
}

._nav_body {
  width: 100%;
  height: 408px;
  position: relative;
}

._nav_body .item {
  height: 50px;
}

._nav_body .item_header {
  padding: 0px 0 0px 10px;
  height: 50px;
  line-height: 50px;
  position: relative;
  margin: 5px 0;
  border-left: 4px solid transparent;
  cursor: pointer;
}

.item_header:hover {
  border-left: 4px solid #009688;
  margin: 5px 0;
}

.active {
  background-color: #000;
  color: #fff;
}

._nav_body .item_body {
  position: absolute;
  left: 111px;
  top: 0;
  background-color: #fff;
  width: 95px;
  /*display: none;*/
  /* border: 2px solid #dd4545; */
  /* border-left: 0; */
  /*z-index: 1003;*/
}

._nav_sub {
  width: 90px;
  height: 451px;
  float: left;
  padding: 5px 5px;
}

._nav_sub_item {
  width: 90px;
  margin-top: 10px;
  text-align: center;
}

.item_header_title {
  color: #9E9FA2;
  font-weight: bold;
}

._nav_sub_item a {
  display: block;
  width: 90px;
  height: 36px;
  line-height: 36px;
}

.selected {
  background: #BFC3C6;
}

/* 侧边菜单栏 */
.admin-sideNav-first .sideNav-menu .iconfont {
  margin-right: 8px;
  display: inline-block;
  font-size: 16px;
  vertical-align: bottom;
}

.select-pagesize {
  display: none !important;
}

/* CSS Document */

ul,
ol {
  padding: 0;
  margin: 0;
}
/*鏀圭増*/
.hasLeft {
  position: relative;
  background-color: #f4f4f4;
  padding-left: 220px;
}

.hasLeft.single {
  padding-left: 110px;
}

.hasLeft .container {
  background-color: #f4f4f4;
  width: 100%
}

.admin-header {
  background-color: #fff;
  margin-bottom: 0;
  height: 71px;
  left: 320px;
  padding: 0 12px;
  line-height: 71px;
}

.admin-header .toggle-icon {
  width: 18px;
  height: 18px;
  float: left;
  margin-top: 27px;
  cursor: pointer;
}

.admin-header .toggle-icon .icon-bar {
  width: 100%;
  height: 2px;
  background-color: #bdbdbd;
  float: left;
  margin: 2px 0;
}

.logo-box {
  width: 45px;
  height: 45px;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 50%;
  margin: 15px auto;
}

.logo-box img {
  width: 100%;
  height: 100%;
  display: block;
}

.admin-sideNav-first {
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 110px;
  background-color: #343841;
  z-index: 1222;
  height: 100%;
}

.admin-sideNav-second {
  position: fixed;
  top: 49px;
  bottom: 0;
  background-color: #3C424e;
  min-width: 110px;
  z-index: 1200;
  left: 110px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  display: none;
  box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.sideNav-menu {
  padding: 0 8px;
}

.sideNav-menu li {
  display: block;
}

.sideNav-menu a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
  color: #aaa;
  box-sizing: content-box;
  margin: 8px 0;
  /* border-radius: 4px; */
  cursor: pointer
}

.admin-sideNav-first .sideNav-menu li.active>a {
  background-color: #3c424e;
  /* margin-right: -8px; */
  /* border-radius: 6px 0 0 6px; */
  color: #fff;
}

.admin-sideNav-first .sideNav-menu li:first-child.active a {
  margin-right: 0;
  /* border-radius: 6px; */
}

.admin-sideNav-first .sideNav-menu a:hover {
  background-color: #3c424e;
  color: #fff;
}

.admin-sideNav-first .sideNav-menu .iconfont {
  margin-right: 8px;
  display: inline-block;
  font-size: 20px;
  vertical-align: bottom
}

.admin-sideNav-first .sideNav-menu li.active .glyphicon {
  background-color: #24303b;
}

.admin-sideNav-second .sideNav-menu {
  margin-top: 61px;
}

.admin-sideNav-second .sideNav-menu li.current a {
  background-color: #1e90ff;
  color: #fff;
  text-align: center;
}

.admin-sideNav-second .sideNav-menu a {
  height: 32px;
  line-height: 32px;
  margin: 12px 0;
  text-align: center;
}

.admin-sideNav-second .sideNav-menu a:hover {
  background-color: #1e90ff;
}

.admin-sideNav-first .sideNav-menu li.active .admin-sideNav-second {
  display: block
}

























