<title>分享海报</title>

<div class="layui-fluid">
    <div class="layui-diy-header-info">
        <P>温馨提示：系统有默认海报背景，不上传将启用系统背景图</P>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body" pad15>
                    <div class="layui-form" lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 150px;">首页分享海报背景图</label>
                            <div class="layui-input-inline" style="width: 400px;">
                                <span class="layui-col-md12" style="position:relative; display:block;">
                                    <a class="layui-btn layui-col-md4" style="width: 100px;">上传</a>
                                    <span class="img_remark">上传尺寸必须为：宽375px 高670px</span>
                                    <input id="addImgPut" type="file">
                                </span>
                                <img id="image">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 150px;">详情分享海报背景图</label>
                            <div class="layui-input-inline" style="width: 400px;">
                                <span class="layui-col-md12" style="position:relative; display:block;">
                                    <a class="layui-btn layui-col-md4" style="width: 100px;">上传</a>
                                    <span class="img_remark">上传尺寸必须为：宽375px 高563px</span>
                                    <input id="addImgPutInfo" type="file">
                                </span>
                                <img id="imageInfo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('appSet/posters', layui.factory('appSet/posters'));
</script>
<script type="text/javascript" src="./src/lib/common.js"></script>
<style>
    .layui-form-label {
        width: 100px
    }

    .layui-input-block {
        margin-left: 130px;
    }

    #image {
        width: 45px;
        height: 80px;
        margin-top: 10px;
        border: 1px solid #e5e5e5;
    }

    #imageInfo {
        width: 53px;
        height: 80px;
        margin-top: 10px;
        border: 1px solid #e5e5e5;
    }

    input[id=addImgPut], input[id=addImgPutInfo] {
        border: 0px solid red;
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
        height: 36px;
        width: 100px;
    }

    input[id=addImgPut] :hover, input[id=addImgPutInfo] :hover {
        cursor: pointer;
    }

    .img_remark {
        margin-left: 10px;
    }
</style>
