<title>闪送</title>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form">
                    <div class="layui-card-header">设置闪送信息</div>
                    <div class="layui-card-body" pad15>
                        <div class="layui-form-item">
                            <label class="layui-form-label">MD5</label>
                            <div class="layui-input-inline">
                                <input name="md5" required lay-verify="required" placeholder="请输入MD5"
                                       class="layui-input layui-unselect">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">商户ID</label>
                            <div class="layui-input-inline">
                                <input name="m_id" required lay-verify="required" placeholder="请输入商户ID"
                                       class="layui-input layui-unselect">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">商户编号</label>
                            <div class="layui-input-inline">
                                <input name="partnerNo" required lay-verify="required" placeholder="请输入商户编号"
                                       class="layui-input layui-unselect">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">TOKEN</label>
                            <div class="layui-input-inline">
                                <input name="token" required lay-verify="required" placeholder="请输入TOKEN"
                                       class="layui-input layui-unselect">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">注册手机号</label>
                            <div class="layui-input-inline">
                                <input name="mobile" required lay-verify="required|phone" placeholder="请输入注册手机号"
                                       class="layui-input layui-unselect">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <a class="layui-btn" lay-submit lay-filter="setInfo">确认修改</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="introduce_images"></div>
<script>
    layui.use('appSet/shansong', layui.factory('appSet/shansong'));
</script>

<style>
    .layui-form-label {
        width: 100px
    }
</style>
