<title>model</title>
<div class="layui-fluid">
    <!--<div class="layui-col-md12">-->
        <!--<a class="layui-btn layui-col-md1 showAdd" style="display: none" lay-submit lay-filter="showAdd">新增</a>-->
    <!--</div>-->
    <!--弹出层-->
    <form class="layui-form" id="add_edit_form">
        <div class="layui-form-item">
            <label class="layui-form-label">退款电话</label>
            <div class="layui-input-inline">
                <input name="after_phone" required lay-verify="required|number" placeholder="请输入退款电话"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">省市区</label>
            <div class="layui-input-inline">
                <select name="province" id="province" class="select w33" lay-filter="region"></select>
            </div>
            <div class="layui-input-inline">
                <select name="city" id="city" class="select w33" lay-filter="region"></select>
            </div>
            <div class="layui-input-inline">
                <select name="area" id="area" class="select w33" lay-filter="region"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">退款地址</label>
            <div class="layui-input-inline">
                <textarea name="address" required lay-verify="required" placeholder="请输入退款地址"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">店铺地址</label>
            <div class="layui-input-inline">
                <textarea name="store_address" required lay-verify="required" placeholder="请输入店铺地址"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="checkbox" name="add_edit_status" checked lay-skin="switch" lay-text="开启|关闭">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <a class="layui-btn" id="btn" lay-submit lay-filter="sub">保存</a>
                <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
            </div>
        </div>
    </form>
    <!--&lt;!&ndash;数据表格&ndash;&gt;-->
    <!--<div class="layui-col-md12">-->
        <!--<table id="pageTable" lay-filter="pageTable" lay-data="{id: 'pageTable'}">-->
        <!--</table>-->
    <!--</div>-->
</div>
<!--添加/编辑-->
<script type="text/javascript">
    layui.use('info/list', layui.factory('info/list'));
</script>
<script type="text/html" id="operations">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <!--<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>-->
</script>
<link type="text/css" rel="styleSheet" href="./src/style/model.css"/>

