<title>消息通知</title>
<!------------------------------------------------------------------------------------------------------------------------->
<!--body-->
<div class="layui-fluid">
	
</div>

<!------------------------------------------------------------------------------------------------------------------------->
<!--表格工具条-->
<script type="text/html" id="opreationes">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!--状态码模板-->
<script type="text/html" id="statusTpl">
  <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="sexDemo" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<!--引入js-->
<script>
layui.use('views_BusinessManagement', layui.factory('views_BusinessManagement'));
</script>
<!------------------------------------------------------------------------------------------------------------------------->
<!--css样式-->
<style>

</style>
