<title>新建运费模板</title>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">新建运费模板</div>
                <div class="layui-card-body">
                    <form class="layui-form" id="submit_form">
                        <div class="layui-form" lay-filter="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">模板名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="name" required lay-verify="required" autocomplete="off"
                                           placeholder="请输入模板名称" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">计费方式</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="type" value="1" checked lay-filter="type"><span class="piece">计件</span>
                                    <input type="radio" name="type" value="2" lay-filter="type"><span class="piece">计重</span>
                                    <input type="radio" name="type" value="3" lay-filter="type"><span class="piece">距离</span>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text by_the_piece" style="display: none;">
                                <label class="layui-form-label">配送区域</label>
                                <div class="layui-input-block">
                                    <table style="width: 100%;">
                                        <tr class="distribution">
                                            <td>配送区域</td>
                                            <td>首件（个） / 首重（g）</td>
                                            <td>运费（元）</td>
                                            <td>续件（个） / 续重（g）</td>
                                            <td>运费（元）</td>
                                        </tr>
                                        <tr>
                                            <td class="expressTitle"><span class="national_unity">全国统一运费</span><input
                                                    name="names" style="display: none" value="全国统一运费"></td>
                                            <td><input name="first_num" class="layui-input"></td>
                                            <td><input name="first_price" class="layui-input"></td>
                                            <td><input name="expand_num" class="layui-input"></td>
                                            <td><input name="expand_price" class="layui-input"></td>
                                        </tr>
                                        <tr id="add_new">
                                            <td>
												<button type="button" class="layui-btn layui-btn-normal layui-btn-sm add_new">+添加配送区域</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="distance" style="display: none;">
                                <div class="layui-form-item ">
                                    <label class="layui-form-label">距离</label>
                                    <div class="layui-input-inline" style="width: 60px; margin-right: 2px;">
                                        <input name="start_number" class="layui-input" lay-verify="number" value="0" style="width: 100%;">
                                    </div>
                                    <label class="layui-form-label" style="width: 10px; padding: 9px 10px;">至</label>
                                    <div class="layui-input-inline" style="width: 60px; margin-right: 2px;">
                                        <input name="end_number" class="layui-input" lay-verify="number" value="0" style="width: 100%;">
                                    </div>
                                    <label class="layui-form-label" style="width: 10px; padding: 9px 10px;">km</label>
                                    <label class="layui-form-label" style="width: 50px;">运费</label>
                                    <div class="layui-input-inline">
                                        <input name="freight" class="layui-input" lay-verify="number" value="0">
                                    </div>
                                    <a href="javascript: void(0)" class="distance_add_button" style="color: limegreen;">添加</a>
                                </div>
                                <div class="distance_ladder"></div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block confirmChange">
                                    <a class="layui-btn" lay-submit lay-filter="sub">确认修改</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <form class="layui-form" style="display: none;" id="area_form">
						<div class="leftArea">
							<div class="area-title">
								<input type="checkbox" lay-filter="unselected" name="unselected" lay-skin="primary" title="全选" class="all-area alls" data-checkbox="unselected">
								未选择区域
							</div>
							<div class="unselected left-area"></div>
						</div>
						<div class="centerBtn">
							<div class="synchronous">
								<div class="go-right unselected"><i class="layui-icon-right layui-icon icon-center"></i></div>
								<div class="go-left chosen"><i class="layui-icon-left layui-icon icon-center"></i></div>
							</div>
						</div>
						<div class="rightArea">
							<div class="area-title">
								<input type="checkbox" name="chosen" lay-filter="chosen" lay-skin="primary" title="全选" class="all-area alls" data-checkbox="chosen">
								已选择区域
							</div>
							<div class="chosen right-area"></div>
						</div>
						<div class="footerSave">
							<a class="layui-btn" lay-submit lay-filter="areaSub">确认</a>
						</div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    layui.use('logistics/add', layui.factory('logistics/add'));
</script>
<link rel="stylesheet" href="./src/style/logistics/add.css">
<script type="text/javascript" src="./src/lib/common.js"></script>
<style>
	.leftArea,.rightArea{float: left;width: 12.5rem;border: 0.0625rem solid #EBEEF5;height: auto;}
	.centerBtn{float: left;width: 6.25rem;height: 51.875rem;}
	.area-title{width: 100%;height: 2.5rem;border-bottom: 0.0625rem solid #EBEEF5;background-color: #F5F7FA;line-height: 2.5rem;font-size: 0.75rem;}
	.all-area+div{margin-left: 0.9375rem}
	.line-one{width: 100%;height: 1.125rem;padding-left: 0.9375rem;margin: 0.3125rem 0;}
	.go-right,.go-left{width: 2.5rem;height: 2.5rem;border: 0.0625rem solid #DDE0E7;border-radius: 50%;cursor: pointer;}
	.icon-center{text-align: center;font-size: 1.25rem;color: #C1C8D8;line-height: 2.5rem;margin-left: 0.625rem;}
	.synchronous{padding:0 1.8125rem;position: fixed;top: 40%;}
	.checkbox-background{background-color: #5FB878;}
	.arrow-color{color: white !important;}
	.footerSave{float: left;width: 100%;margin-top: 1.25rem;margin-bottom: 1.25rem;}
	.footerSave a{margin-left: 40%;}
</style>
