<title>菜单</title>
<div class="layui-fluid">
    <div class="layui-fluid">
        <div class="layui-col-md12 header-top">
            <b>返回请看控制台或网络</b>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <button class="layui-btn list">获取列表</button>
            </div>
            <div class="layui-col-md12">
                <button class="layui-btn create">创建</button>
            </div>
            <div class="layui-col-md12">
                <button class="layui-btn update">修改</button>
            </div>
            <div class="layui-col-md12">
                <button class="layui-btn delete">删除</button>
            </div>
        </div>
    </div>
</div>
<!--添加/编辑签名-->
<script type="text/javascript">
    layui.use('wx/officialAccount/menu', layui.factory('wx/officialAccount/menu'));
</script>
<link type="text/css" rel="styleSheet" href="./src/style/model.css"/>

