<title>用户</title>
<div class="layui-fluid">
    <div class="layui-fluid">
        <div class="layui-col-md12 header-top">
            <b>返回请看控制台或网络</b>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <button class="layui-btn list">获取用户列表</button>
            </div>
            <div class="layui-col-md12">
                <button class="layui-btn select">查询用户信息</button>
            </div>
            <div class="layui-col-md12">
                <button class="layui-btn update">修改备注</button>
            </div>
            <div class="layui-col-md12">
                <button class="layui-btn black">获取黑名单</button>
            </div>
            <div class="layui-col-md12">
                <button class="layui-btn block">拉黑用户</button>
            </div>
            <div class="layui-col-md12">
                <button class="layui-btn unblock">取消拉黑用户</button>
            </div>
        </div>
    </div>
</div>
<!--添加/编辑签名-->
<script type="text/javascript">
    layui.use('wx/officialAccount/user', layui.factory('wx/officialAccount/user'));
</script>
<link type="text/css" rel="styleSheet" href="./src/style/model.css"/>

