

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>全端复杂组合</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="./src/views/component/UserManagement/index.css">
	<script type="text/html" id="status">
		<a class="layui-btn layui-btn-xs" lay-event="detail">状态</a>
	</script>
	<script type="text/html" id="operation">
		<a class="layui-btn layui-btn-xs" lay-event="permissions">权限</a>
		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>
</head>


	<!-- 添加用户start -->
  <from class="layui-form" action="" id="aaa" style="display:none">
		<div class="layui-form-item">
  	  <label class="layui-form-label"></label>
  	</div>
    <div class="layui-form-item">
  	  <label class="layui-form-label">账号</label>
  	  <div class="layui-input-inline">
  	  	<input type="text" name="account" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  	<div class="layui-form-item">
  	  <label class="layui-form-label">手机号</label>
  	  <div class="layui-input-inline">
  	  	<input type="text" name="phone" required  lay-verify="required|phone" placeholder="请输入手机" autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  	<div class="layui-form-item">
  	  <label class="layui-form-label">姓名</label>
  	  <div class="layui-input-inline">
  	  	<input type="text" name="name" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  	<div class="layui-form-item">
      <label class="layui-form-label">单选框</label>
      <div class="layui-input-block">
        <input type="radio" name="sex" value="男" title="男">
        <input type="radio" name="sex" value="女" title="女">
      </div>
    </div>
		<div class="layui-form-item">
      <label class="layui-form-label">状态</label>
      <div class="layui-input-block">
        <input type="radio" name="state" value="启用" title="启用">
        <input type="radio" name="state" value="不启用" title="不启用">
      </div>
    </div>
  	<div class="layui-form-item">
  	  <label class="layui-form-label">密码</label>
  	  <div class="layui-input-inline">
  	  	<input type="password" name="password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  	<div class="layui-form-item">
  		<button class="layui-btn layui-col-md-offset5" lay-submit lay-filter="sub" id="sub">提交</button>
  	</div>
  </from>
  <!-- 添加用户end -->

<body>

	<from class="layui-form" action="">
    <div class="layui-form-item">
  	  <div class="layui-input-inline">
  	  	<input type="text" name="title" required  lay-verify="required" placeholder="请输入需要查询的账号" autocomplete="off" class="layui-input">
  	  </div>
  	  <button class="layui-btn" lay-submit lay-filter="find">搜索</button>
  	  <button class="layui-btn" lay-filter="adduser" id="adduser">添加用户</button>
  	</div>
  </from>
	
	<table id="AccountManagement"></table>
  <script>
		layui.use('AccountManage', layui.factory('AccountManage'));
  </script>
</body>
</html>