<title>model</title>
<div class="layui-fluid">
    <div class="layui-col-md12">
        <div class="title">
            请选择应用版本
        </div>
    </div>
    <form class="layui-form" id="form">
        <div class="layui-form-item a" style="margin-top: 10vw;">
            <a class="layui-btn" id="btn" style="display: none;" lay-submit lay-filter="sub">下一步</a>
        </div>
        <div class="layui-col-md10 layui-col-md-offset1 combos"></div>
    </form>
</div>
<!--添加/编辑签名-->
<script type="text/javascript">
    layui.use('app/add/combos', layui.factory('app/add/combos'));
</script>
<link type="text/css" rel="styleSheet"  href="./src/style/app/add/combos.css" />
<script type="text/javascript" src="./jquery.min.js"></script>
<script type="text/javascript" src="./src/lib/common.js"></script>
