<title>model</title>
<div class="layui-fluid">
    <div class="layui-col-md12">
        <div class="title">
            请填写店铺信息
        </div>
    </div>
    <!--弹出层-->
    <form class="layui-form layui-col-md5 layui-col-md-offset3" id="form">
        <div class="layui-col-md10 layui-col-md-offset2 upThree">
            <div class="layui-form-item category" style="display: none;">
                <label class="layui-form-label">店铺分类</label>
                <div class="layui-input-inline">
                    <select name="shop_category_id" id="shop_category_id"> </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">店铺名称</label>
                <div class="layui-input-inline">
                    <input name="name" required lay-verify="required" placeholder="请输入店铺名称" class="layui-input input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">应用名称</label>
                <div class="layui-input-block">
                    <span class="appName"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选择版本</label>
                <div class="layui-input-block">
                    <span class="comboName"></span>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-col-md10 layui-col-md-offset2 pic">
            <label class="layui-form-label">图片</label>
            <div class="layui-input-block">
                <span class="layui-col-md6" style="position:relative; display:block;">
                    <a class="layui-btn layui-col-md2" id="putAddBtn">上传</a>
                    <input id="addImgPut" type="file">
                </span>

            </div>
            <img id="image">
        </div>
        <!--<div class="layui-form-item price">-->
            <!--期限:<span style="color: dodgerblue;">1年</span><b></b>价格:<span class="money" style="color: red;"></span>-->
        <!--</div>-->

        <div class="layui-form-item sub">
            <a class="layui-btn layui-btn-normal" id="btn" lay-submit lay-filter="sub">提交</a>
        </div>
    </form>
</div>
<!--添加/编辑签名-->
<script type="text/javascript">
    layui.use('app/add/info', layui.factory('app/add/info'));
</script>
<link type="text/css" rel="styleSheet" href="./src/style/app/add/info.css"/>
<script type="text/javascript" src="./jquery.min.js"></script>
<script type="text/javascript" src="./src/lib/common.js"></script>
