<title>自定义版权</title>
<script type="text/javascript"
        src="https://webapi.amap.com/maps?v=1.4.8&key=8464048ba4a22195cef4077d5f796bf7&plugin=AMap.ToolBar,AMap.Driving,AMap.PlaceSearch,AMap.Geocoder"></script>
<script src="group/js/jquery.min.js"></script>
<script src="group/js/moment.min.js"></script>
<script src="group/js/jquery.daterangepicker.min.js"></script>
<link href="group/css/daterangepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="group/css/main.css">
<!--[if lt IE 9]>
<script src="group/js/html5shiv.min.js"></script>
<script src="group/js/respond.min.js"></script>
<![endif]-->
<div class="layui-fluid">
    <div class="layui-tab layui-tab-brief" lay-filter="tab">
        <ul class="layui-tab-title">
            <li class="layui-this">基本配置</li>
            <li>团长审核</li>
            <li>团长列表</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div id="groupConfig"></div>
            </div>
            <div class="layui-tab-item">
                <div id="groupExamineList"></div>
            </div>
            <div class="layui-tab-item">
                <div id="groupList"></div>
            </div>
        </div>
    </div>
</div>
<!--添加/编辑签名-->
<script type="text/javascript">
    layui.use('voucher/group', layui.factory('voucher/group'));
</script>
