<section id="uicut-app">
    <section class="uc-section21">
        <form>
            <ul class="form">
                <li><span class="tt">社区团购开启：</span><label id="is_open" class="checkbox">开启</label></li>
                <li class="chooseTime"><span class="tt">休市时间设置：</span>
                    <div class="item">
                        <input type="text" name="open_time" id="open_time">
                    </div>
                    <em>到</em>
                    <div class="item">
                        <input type="text" name="close_time" id="close_time">
                    </div>
                    <span class="tips">24小时制，分钟0-59（默认以00秒开始）</span>
                </li>
                <li><span class="tt">休市海报：</span>
                    <span style="position:relative; display:block;">
						<a class="layui-btn" style="width: 140px;">上传</a>
						<input id="addImgPut" style="width: 140px;" type="file">
					</span>
                    <img id="image" style="width: 140px; height: 140px;">
                </li>
                <li><span class="tt">发货方式：</span>
                    <label id="is_express" class="checkbox">快递</label>
                    <label id="is_site" class="checkbox">自提</label>
                    <label id="is_tuan_express" class="checkbox">团长配送</label>
                </li>
                <li><span class="tt">自定义团长名称：</span>
                    <input type="text" name="leader_name">
                </li>
                <li><span class="tt">团长覆盖范围：</span>
                    <input type="text" name="leader_range">
                    <i class="unit">米</i>
                </li>
            </ul>
            <div class="title">提现设置</div>
            <ul class="form">
                <li><span class="tt">提现手续费：</span>
                    <input type="text" name="withdraw_fee_ratio">
                    <i class="unit">%</i>
                </li>
                <li><span class="tt">最低提现金额：</span>
                    <input type="text" name="min_withdraw_money">
                    <i class="unit">最低1元</i>
                </li>
            </ul>
            <div class="title">佣金设置</div>
            <ul class="form">
                <li><span class="tt">团长佣金：</span>
                    <input type="text" name="commission_leader_ratio">
                    <i class="unit">%</i>
                </li>
                <li><span class="tt">推荐佣金：</span>
                    <input type="text" name="commission_user_ratio">
                    <i class="unit">%</i>
                </li>
            </ul>
            <div class="operate">
                <!--<a href="" class="btn btn-blue">保存</a>-->
                <a class="layui-btn" id="btn" lay-submit lay-filter="config_sub">保存</a>
            </div>
        </form>
    </section>
</section>
<script>
    $("body").on('click', '.checkbox', function (event) {
        event.preventDefault();
        $(this).toggleClass('on');
    });
</script>
<style>

    input[id=addImgPut] {
        border: 0px solid red;
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
        height: 36px;
        width: 200px;
    }

    input[id=addImgPut] :hover {
        cursor: pointer;
    }
</style>