<title>自定义版权</title>
<script type="text/javascript"
        src="https://webapi.amap.com/maps?v=1.4.8&key=8464048ba4a22195cef4077d5f796bf7&plugin=AMap.ToolBar,AMap.Driving,AMap.PlaceSearch,AMap.Geocoder"></script>
<script src="group/js/jquery.min.js"></script>
<script src="group/js/moment.min.js"></script>
<script src="group/js/jquery.daterangepicker.min.js"></script>
<link href="group/css/daterangepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="group/css/main.css">
<!--[if lt IE 9]>
<script src="group/js/html5shiv.min.js"></script>
<script src="group/js/respond.min.js"></script>
<![endif]-->
<div class="layui-fluid">
    <div class="layui-tab layui-tab-brief" lay-filter="tab">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="0">同步模板</li>
            <li lay-id="1">群消息推送</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form" id="add_edit_form">
                    <div>
                        <a class="miniSynchronization" href="javascript:void(0)" lay-submit lay-filter="sub">同步模板</a>
                        <ul id="miniSynchronization"></ul>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <!-- <div id="miniPush"></div> -->
                <div class="layui-row">
                    <div class="layui-col-md12">
                        <button class="layui-btn-normal layui-btn createPush">+创建推送</button>
                    </div>
                    <div class="layui-col-md12">
                        <ul class="list-table-ul">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--添加/编辑签名-->
<script type="text/javascript">
    layui.use('voucher/miniTemplate', layui.factory('voucher/miniTemplate'));
</script>
<style>
    /* 推送css */

    .createPush {
        margin: 1.25rem 0 0 2.1875rem;
    }

    .list-table-ul {
        text-align: center;
        width: 100%;
        margin: 2.1875rem 0 0 2.1875rem;
    }

    .list-push {
        width: 23.875rem;
        float: left;
        margin: 0 1.25rem 1.25rem 0;
        border: 0.0625rem solid #E4E5E7;
    }

    .table-content-box {
        background-color: #F5F6F8;
        min-height: 21.0625rem;
        padding: 1.25rem 0;
        width: 23.75rem;
    }

    .table-push-con {
        width: 19.9375rem;
        min-height: 20.4375rem;
        border-radius: 0.25rem;
        background-color: white;
        margin: 0 auto;
    }

    .puth-tem-title {
        height: 3.125rem;
        line-height: 3.125rem;
        border-bottom: 0.0625rem solid #E4E5E7;
        text-align: left;
        padding-left: 0.9375rem;
    }

    .tem-logo {
        display: inline-block;
        width: 1.5625rem;
        height: 1.5625rem;
        text-align: center;
        border: 0.0625rem solid #E4E5E7;
        border-radius: 50%;
        line-height: 2.125rem;
        vertical-align: middle;
    }

    .tem-logo img {
        margin-bottom: 0.6875rem;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .title-cons {
        font-size: 0.875rem;
        margin-left: 0.3125rem;
    }

    .tem-more {
        float: right;
        font-size: 1.875rem;
        padding-right: 0.3125rem;
    }

    .tem-con-list {
        height: 12.875rem;
        overflow: auto;
        padding: 0.5rem 0.9375rem 1.875rem;
        text-align: left;
    }

    .tem-con-list-title {
        font-size: 1rem;
        line-height: 2.125rem;
        margin-bottom: 0.625rem;
    }

    .tem-con-list-tem {
        margin-bottom: 0.625rem;
        height: 1.1875rem;
    }

    .tem-con-list-tem span {
        float: left;
    }

    .tem-con-list-tem span:first-child {
        width: 5.4375rem;
        color: #8b8b8b;
        display: inline-block;
    }

    .tem-con-list-tem span:last-child {
        word-wrap: break-word;
    }

    .tem-foot {
        width: 100%;
        height: 4.375rem;
    }

    .tem-foot p {
        height: 2.125rem;
        line-height: 2.125rem;
        border-top: 1px solid #E4E5E7;
        font-size: 0.875rem;
        text-align: left;
        margin: 0 0.625rem;
    }

    .layui-icon-right {
        float: right;
    }

    /* 按钮css */
    .push-btn-list {
        width: 20rem;
        margin: 0 auto;
        height: 4rem;
    }

    .push-btn-list div {
        padding: 0.5rem;
        padding-left: 1rem;
    }

    .edit, .del {
        margin: 1.25rem 0 1.25rem 2.5rem;
    }

    .miniSynchronization {
        font-size: 20px;
        margin: 1vw;
        color: #2b7bff;
    }

    #miniSynchronization {
        margin-top: 1vw;
        margin-left: 2vw;
        font-size: 16px;
    }

    #miniSynchronization li {
        margin-bottom: 0.5vw;
    }

    .temp_name {
        float: left;
        width: 200px;
    }
</style>
