<title>满减</title>
<div class="layui-fluid customize">
    <div class="layui-form" lay-filter="">
        <div class="layui-form-item">
            <label class="layui-form-label">是否开启满减</label>
            <div class="layui-input-block">
                <input type="checkbox" name="is_reduction" lay-skin="switch" lay-filter="" lay-text="是|否">
                <span>开启后，全场满减. 请慎重使用该功能，以免给您带来不必要的损失。</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">满减规则</label>
            <div class="layui-input-inline" style="width: 20px;"> 满 </div>
            <div class="layui-input-inline" style="width: 80px;">
                <input type="text" class="layui-input" lay-verify="required" name="reduction_achieve">
            </div>
            <div class="layui-input-inline" style="width: 20px;"> 减 </div>
            <div class="layui-input-inline" style="width: 80px;">
                <input type="text" class="layui-input" lay-verify="required" name="reduction_decrease">
            </div>
            <div class="layui-input-inline" style="width: 80px;">
                <input type="checkbox" name="free_shipping" title="包邮">
            </div>
            <a href="javascript: void(0)" class="reduction_add" style="color: limegreen;">添加</a>
        </div>
        <div class="reduction_list"></div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="setInfo">确认修改</button>
            </div>
        </div>
    </div>
</div>
<!--添加/编辑签名-->
<script type="text/javascript">
    layui.use('voucher/reduction', layui.factory('voucher/reduction'));
</script>
<script type="text/javascript" src="./src/lib/common.js"></script>
<style>
    .layui-form-item .layui-input-inline {
        float: none;
    }
    .layui-input-block {
        line-height: 0px;
    }
    .layui-input-block span{
        padding-left: 40px;
    }
</style>