.title {
    padding-top: 2vw;
}

.layui-col-md-offset1 {
    margin-left: 8.33333333% !important;
    min-height: 30vw;
    margin-top: 5vw;
    display: flex;
    justify-content: space-around;
}

.outOfTime {
    color: dodgerblue;
}

.title {
    text-align: center;
    font-size: 1.5vw;
}

.appList {
    text-align: center;
    font-size: 1.2vw;
    height: 24vw;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
}
/*.detail1{*/
    /*border:none;*/
/*}*/
.app_pic_url{
    width: 10vw;
    height: 10vw;
    margin-top: 2vw;
}

p {
    height: 2vw;
}

.a {
    text-align: center;
}

p.detail_info{
    margin-top: 2vw;
}
