.title {
    padding-top: 2vw;
}

.layui-col-md-offset1 {
    margin-left: 8.33333333% !important;
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
    min-height: 30vw;
}

.outOfTime {
    color: dodgerblue;
}

.title {
    text-align: center;
    font-size: 1.5vw;
}

.comboList {
    text-align: center;
    font-size: 1.2vw;
    height: 24vw;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
}
.layui-row{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    min-height: 24vw;
}
img {
    width: 10vw;
    height: 10vw;
}

p {
    height: 2vw;
}

.a {
    text-align: center;
}
p.detail_info{
    /*margin-top: 2vw;*/
}
.price{
    font-size: 1vw;
    /*margin-top: 1vw;*/
}
