#image {
    height: 200px;
    width: 200px;
    margin-top: 10px;
    border: 1px solid #e5e5e5;
    margin-left: 150px;
}

#putAddBtn, #addImgPut {
    width: 200px;
}

input[id=addImgPut] {
    border: 0px solid red;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    height: 36px;
    width: 200px;
}

input[id=addImgPut] :hover {
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 1.5vw;
}

.upThree {
    font-size: 1vw;
    margin-top: 2vw;

}

.layui-form-label {
    width: 120px;
}

.input {
    width: 90%;
}

.pic {
    font-size: 1vw;
}

.price, .sub{
    text-align: center;
}
.price b{
    display: inline-block;
    width:1.5vw;
}