<title>小程序支付配置</title>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <form class="layui-form">
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">应用ID</label>
                    <div class="layui-input-inline">
                        <input name="app_id" required lay-verify="required" placeholder="请输入应用ID"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">商户ID</label>
                    <div class="layui-input-inline">
                        <input name="mch_id" required lay-verify="required" placeholder="请输入商户ID"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商户公钥</label>
                    <div class="layui-input-inline">
                        <input name="pay_key" required lay-verify="required" placeholder="请输入商户公钥"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <div class="layui-input-inline">
                        <a class="layui-btn" lay-submit="" lay-filter="sub">保存</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    layui.use('miniProgram/pay', layui.factory('miniProgram/pay'));
</script>
<script type="text/javascript" src="./src/lib/common.js"></script>
