<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="./src/style/all.css">
    <script src="./src/lib/echarts.js"></script>
    <!-- base.js 只写了自适应，但是现在只有pc，所以不需要引入该js -->
    <!--<script type="text/javascript" src="./src/lib/base.js"></script>-->
    <title></title>
</head>
<body>
<div class="overview clearfix">
    <div class="overview_left">
        <ul class="overview_left_ul1 clearfix">
            <li>
                <h3>今日营业额 <span class="today_turnover">0</span></h3>
                <p>今日访客：<span class="today_visitor">0</span></p>
                <p>今日订单：<span class="today_order">0</span></p>
                <p>今客单价：<span class="today_average_price">0</span></p>
            </li>
            <li>
                <h3>近7天营业额 <span class="seven_day_turnover">0</span></h3>
                <p>近7天访客：<span class="seven_day_visitor">0</span></p>
                <p>近7天订单：<span class="seven_day_order">0</span></p>
                <p>近7天单价：<span class="seven_day_average_price">0</span></p>
            </li>
            <li>
                <h3>近30天营业额 <span class="thirty_days_turnover">0</span></h3>
                <p>近30天访客：<span class="thirty_days_visitor">0</span></p>
                <p>近30天订单：<span class="thirty_days_order">0</span></p>
                <p>近30天单价：<span class="thirty_days_average_price">0</span></p>
            </li>
        </ul>
        <ul class="overview_left_ul2 clearfix">
            <li>
                <h3>待处理事项</h3>
                <div class="nav clearfix">
                    <a href="javascript:void(0)">
                        <h4><span class="un_shipped_order">0</span></h4>
                        <p>待发货订单</p>
                    </a>
                    <a href="javascript:void(0)">
                        <h4><span class="refund_order">0</span></h4>
                        <p>退款中订单</p>
                    </a>
                    <!--<a href="#">-->
                    <!--<h4>0</h4>-->
                    <!--<p>库存预警</p>-->
                    <!--</a>-->
                    <a href="javascript:void(0)">
                        <h4><span class="warehouse_order">0</span></h4>
                        <p>等待上架宝贝</p>
                    </a>
                    <!--<a href="#">-->
                    <!--<h4>0</h4>-->
                    <!--<p>待发货订单</p>-->
                    <!--</a>-->
                </div>
            </li>
            <li>
                <h3>快捷菜单</h3>
                <div class="nav clearfix">
                    <a href="javascript:void(0)" class="dump_order" data="1">
                        <img src="./src/images/base/待发货.png" alt="">
                        <p>待发货订单</p>
                    </a>
                    <a href="javascript:void(0)" class="dump_order" data="5">
                        <img src="./src/images/base/退款中.png" alt="">
                        <p>退款中订单</p>
                    </a>
                    <!--<a href="#">-->
                    <!--<img src="./src/images/base/3.png" alt="">-->
                    <!--<p>库存预警</p>-->
                    <!--</a>-->
                    <a href="javascript:void(0)" class="dump_goods_recycleBin">
                        <img src="./src/images/base/等待上架.png" alt="">
                        <p>等待上架宝贝</p>
                    </a>
                    <!--<a href="#">-->
                    <!--<img src="./src/images/base/3.png" alt="">-->
                    <!--<p>待发货订单</p>-->
                    <!--</a>-->
                </div>
            </li>
        </ul>
        <div class="data">
            <div id="main"></div>
            <div class="change_click">
				<!-- <button class="layui-btn layui-btn-normal time_type_change onclick" data="always">按时</button> -->
                <a href="javascript:void(0)" class="time_type_change onclick" data="always">按时</a>
                <a href="javascript:void(0)" class="time_type_change" data="day">按天</a>
            </div>
        </div>
        <!--<ul class="overview_left_ul3 clearfix">-->
        <!--<li>-->
        <!--<a href="#">-->
        <!--<h3>社区团购</h3>-->
        <!--<p>一键生成，抢占先机</p>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="li_orange">-->
        <!--<a href="#">-->
        <!--<h3>社区团购</h3>-->
        <!--<p>一键生成，抢占先机</p>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="li_blue">-->
        <!--<a href="#">-->
        <!--<h3>社区团购</h3>-->
        <!--<p>一键生成，抢占先机</p>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="li_green">-->
        <!--<a href="#">-->
        <!--<h3>社区团购</h3>-->
        <!--<p>一键生成，抢占先机</p>-->
        <!--</a>-->
        <!--</li>-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
        <!--&lt;!&ndash;<h3>社区团购</h3>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>一键生成，抢占先机</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="li_orange">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
        <!--&lt;!&ndash;<h3>社区团购</h3>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>一键生成，抢占先机</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="li_blue">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
        <!--&lt;!&ndash;<h3>社区团购</h3>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>一键生成，抢占先机</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="li_green">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
        <!--&lt;!&ndash;<h3>社区团购</h3>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>一键生成，抢占先机</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--</ul>-->
    </div>
    <div class="overview_right">
        <!--<div class="overview_right_a bor">-->
            <!--<a href="javascript:void(0)"><span class="entering_customer_service">在线客服系统</span></a>-->
        <!--</div>-->
        <div class="ewm bor">
            <img id="qr_code" src="https://api.juanpao.com/./uploads/miniprogram/wx_15511444955c74962f84398.jpeg"
                 alt="">
            <h3>店铺二维码 扫码体验</h3>
            <p>
                小程序上传审核发布后显示
                <a href="/adminShop/#/miniProgram/formal">立即上传</a>
            </p>
        </div>
        <div class="overview_right_nav bor clearfix">
            <a href="http://bbs.juanpao.com" target="_blank">
                <img src="./src/images/base/3.png" alt="">
                <p>商家社区</p>
            </a>
            <a href="javascript:void(0)" class="go_to_print">
                <img src="./src/images/base/打印.png" alt="">
                <p>面单打印</p>
            </a>
            <a href="http://www.juanpao.com/help/pc/index.html" target="_blank">
                <img src="./src/images/base/帮助.png" alt="">
                <p>帮助教程</p>
            </a>
            <a href="https://web2.juanpao.com/adminShop/#/overview/log">
                <img src="./src/images/base/更新.png" alt="">
                <p>更新日志</p>
                <span>有更新</span>
            </a>
        </div>
        <div class="kefu bor">
            <a href="http://p.qiao.baidu.com/cps/chat?siteId=12370010&userId=25239271&cp=&cr=%E5%90%8E%E5%8F%B0&cw="
               target="_blank">
                <h3>联系在线客服</h3>
            </a>
            <p>0518-85688078</p>
        </div>
        <div class="product bor news"></div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    layui.use('overview/index', layui.factory('overview/index'));
</script>
<style>
	.data,.data #main,.data #main:first-child,.data #main div canvas{width: 100% !important;}
	.data{padding: 0;}
	.time_type_change{display: inline-block;width: 3.125rem;font-size: 1rem !important;text-align: center;line-height: 1.800625rem;}
	.onclick{color: white !important;}
</style>