<title>log</title>
<div class="layui-fluid">
    <ul class="layui-timeline timeLine">
        <!--<li class="layui-timeline-item">-->
        <!--<i class="layui-icon layui-timeline-axis">&#xe63f;</i>-->
        <!--<div class="layui-timeline-content layui-text">-->
        <!--<h3 class="layui-timeline-title ">-->
        <!--<span class="title">卷泡商城1.0.6版本</span>-->
        <!--<span class="create_time">2019-02-22</span>-->
        <!--</h3>-->
        <!--<p class="simple_info">· 卷泡商城小程序1<br/>· 卷泡商城小程序2<br/>· 卷泡商城小程序3<br/>· 卷泡商城小程序4</p>-->
        <!--</div>-->
        <!--</li>-->
        <!--<li class="layui-timeline-item">-->
        <!--<i class="layui-icon layui-timeline-axis">&#xe63f;</i>-->
        <!--<div class="layui-timeline-content layui-text">-->
        <!--<div class="layui-timeline-title">过去</div>-->
        <!--</div>-->
        <!--</li>-->
    </ul>
</div>
<!--添加/编辑签名-->
<script type="text/javascript">
    layui.use('overview/log', layui.factory('overview/log'));
</script>
<script type="text/javascript" src="./src/lib/common.js"></script>
<style>
    .create_time {
        font-size: 0.8vw;
        color: #b8b3b2;
        margin-left: 1vw;
    }

    .timeLine {
        margin: 2vw 0vw 0vw 4vw;
    }
</style>
