<title>短信模板</title>

<div class="layui-fluid">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this" id="lia">短信模板列表</li>
            <li id="lib">添加/编辑模板</li>
        </ul>
        <div class="layui-tab-content">
            <!--短信签名列表-->
            <div class="layui-tab-item layui-show" id="tt">
                <table id="sms_template" lay-filter="opreation"></table>
            </div>
            <!--添加/编辑签名-->
            <div class="layui-tab-item layui-col-md6 layui-col-md-offset3" id="opt">
                <form class="layui-form form">
                    <table class="layui-table">
                        <tr class="layui-form-item">
                            <td>
                                <label class="layui-form-label">模板类型</label>
                            </td>
                            <td>
                                <div class="layui-input-block">
                                    <input type="text" name="title" lay-verify="required" placeholder="请输入模板类型,例如:"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="layui-form-item">
                                <label class="layui-form-label">模板备注</label>
                            </td>
                            <td>
                                <div class="layui-input-block">
                                    <textarea name="remark" placeholder="请输入模板备注" class="layui-textarea"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="layui-form-item img">
                                <label class="layui-form-label">模板内容</label>
                            </td>
                            <td>
                                <div class="layui-input-block">
                                    <textarea name="text" placeholder="请输入备注,非必填" class="layui-textarea"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="layui-form-item img">
                                <label class="layui-form-label">短信类型</label>
                            </td>
                            <td>
                                <div class="layui-input-block">
                                    <select name="type" lay-verify="required">.
                                        <option value="">请选择</option>
                                        <option value="0">普通短信模板</option>
                                        <option value="1">营销短信模板</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="layui-form-item" colspan="2">
                                <a class="layui-btn layui-col-md-offset5" lay-submit lay-filter="sub" id="btn">保存</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <script>
        layui.use('AddSignaturesTemplate', layui.factory('AddSignaturesTemplate'));
    </script>
    <script type="text/html" id="opreationes">
        <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    </script>

    <script type="text/html" id="ApplicationTypeTpl">
        {{#  if(d.type == '0'){ }}
        <span>普通短信模板</span>
        {{#  } else    if(d.type == '1'){ }}
        <span>营销短信模板</span>
        {{#  } }}
    </script>
</div>