<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/user/login.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class='content'>
        <div class='login-content'>
            <div class="layadmin-user-login-main">
                <!--登陆-->
                <div class="container">
                    <div class="layadmin-user-login-box layadmin-user-login-header">
                        <p class='login-content-title'>登录</p>
                    </div>

                    <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-shouji"
                                   for="LAY-user-login-name"></label>
                            <input type="text" name="name" id="LAY-user-login-name" lay-verify="required"
                                   placeholder="手机号"
                                   class="layui-input">
                        </div>
                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                                   for="LAY-user-login-password"></label>
                            <input type="password" name="password" id="LAY-user-login-password" lay-verify="required"
                                   placeholder="密码" class="layui-input">
                        </div>
                        <div id="captcha"></div>
                        <div id="msg"></div>
                    </div>
                </div>
            </div>
        </div>
        <img class='login-img' src='src/images/1.png'>
    </div>
</div>

<script src="./src/controller/user/jigsaw.js"></script>
<script src="./jquery.min.js"></script>
<script>
    layui.use(['admin', 'form', 'user'], function () {
        var $ = layui.$
            , setter = layui.setter;
        var url = setter.baseUrl;

        //判断是否登录，登录跳转到首页
        if (localStorage.getItem(setter.tableName) != '{}') {
            location.hash = '/goods/list';
            return;
        }
        //滑块验证
        jigsaw.init({
            el: document.getElementById('captcha'),
            onSuccess: function () {
                $('.pic').hide();
                // document.getElementById('msg').innerHTML = '验证成功！';
                var name = $('input[name=name]').val();
                var password = $('input[name=password]').val();
                var subData = {
                    account: name,
                    password: password
                }
                if (name == '' || password == '') {
                    return false;
                }
                //请求登入接口
                $.ajax({
                    url: url + '/partnersLogin', //实际使用请改成服务端真实接口
                    data: subData,
                    xhrFields: {withCredentials: true},//携带cookie
                    type: 'post',
                    success: function (res) {
                        if (res.status != 200) {
                            layer.msg(res.message, {
                                offset: '15px'
                                , icon: 1
                                , time: 1000
                            }, function () {
                                // location.reload();//刷新体验感很差
                            });
                            return;
                        }
                        //请求成功后，写入 access_token
                        layui.data(setter.tableName, {
                            key: setter.request.tokenName
                            , value: res.data
                        });
                        //登入成功的提示与跳转
                        layer.msg('登入成功', {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        }, function () {
                            localStorage.setItem("name", res.name);
                            location.hash = '/goods/list';
                        });
                    }
                });
            },
            onFail: cleanMsg,
            onRefresh: cleanMsg
        })
    });

    function cleanMsg() {
        document.getElementById('msg').innerHTML = ''
    }
</script>
<link type="text/css" rel="styleSheet" href="./src/style/user/jigsaw.css"/>
<style>
    html {
        background: #f6f6f6;
    }

    .layadmin-user-login-main {
        margin: 0 auto;
        width: 70%;
    }

    .content {
        background: #fff;
        width: 60vw;
        height: 32vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        min-width: 1024px;
        min-height: 547px;
        box-shadow: -10px 10px 150px rgba(152, 152, 152, 0.2);
        margin-top: 2vw;
    }

    .login-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .login-content-title {
        font-size: 2em;
        color: #000 !important;
    }

    .login-img {
        width: 50%;
        height: 100%;
    }

    .layui-btn {
        background: #37c9cc;
    }

    .adduser {
        margin: 0;
        font-size: 10px;
    }

    .layadmin-user-login-other {
        padding-top: 0;
    }

    /* 滑块验证 */
    .container {
        width: 310px;
        margin: 100px auto;
    }

    input {
        display: block;
        width: 290px;
        line-height: 40px;
        margin: 10px 0;
        padding: 0 10px;
        outline: none;
        border: 1px solid #c8cccf;
        border-radius: 4px;
        color: #6a6f77;
    }

    #msg {
        width: 100%;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        margin-left: 100px;
        color: #0366D6;
    }
</style>