body{
    font-size: 10px;
}
.layui-fluid {
    padding: 0px;
}
#image {
    height: 190px;
    width: 190px;
    margin-top: 1vw;
    /*border: 1px solid #e5e5e5;*/
    margin-left: 150px;
}

#putAddBtn, #addImgPut {
    width: 190px;
}

input[id=addImgPut] {
    border: 0px solid red;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    height: 36px;
    width: 200px;
}

input[id=addImgPut] :hover {
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 1vw;
    padding-top: 2vw;
}

.upThree {
    /*font-size: 1vw;*/
    margin-top: 4vw;

}

.layui-form-label {
    width: 120px;
}

.input {
    width: 100%;
}

.pic {
    /*font-size: 1vw;*/
}

.price, .sub{
    text-align: center;
}
.price b{
    display: inline-block;
    width:1.5vw;
}
@media screen and (min-width: 992px){
    .layui-col-md-offset3 {
        margin-left: 28%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 31vw;
    }
}