.layui-fluid {
    padding: 0px;
}
.title {
    padding-top: 6vw;
    text-align: center;
    font-size: 1vw;
}
/* img {
    height: 142px;
    width: 250px;
} */
.layui-row{
    text-align: center;
}
.payType{
    margin-top: 5vw;
}
.pic{
    margin-left: 5vw;
    margin-right: 5vw;
}