<title>应用列表</title>
<div class="layui-fluid">
    <div class="layui-col-md12">
        <a class="layui-btn layui-col-md1" lay-href="/app/add/apps">创建应用</a>
    </div>

    <div class="layui-tab layui-col-md6 layui-col-md-offset2" style="display: none;">
        <div class="info" style="display:none;">
            <div class="">
                <span class="name"></span>
            </div>
            <div class="">
                <span class="create_time"></span>
            </div>
            <div class="">
                <span class="app_key"></span>
            </div>
            <div class="">
                <span class="app_secret"></span>
            </div>
        </div>
        <ul class="layui-tab-title">
            <li class="layui-this">圈子</li>
            <li>商城</li>
            <li>餐饮</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show apps layui-row"></div>
            <div class="layui-tab-item">内容2</div>
            <div class="layui-tab-item">内容3</div>
        </div>
    </div>
</div>
<!--对应路由-->
<script type="text/javascript">
    layui.use('app/list', layui.factory('app/list'));
</script>
<style>
    .layui-col-md-offset2 {
        margin-left: 16.66666667% !important;
    }

    .layui-tab, .app_pic_url{
        border: 1px dodgerblue solid;
    }
    .layui-tab{
        position: relative;
    }

    .layui-tab-title li {
        width: 30%;
        font-size: 1.5vw;
        padding: 5px 0px 5px 0px;
    }

    .layui-tab-title .layui-this, .outOfTime {
        color: dodgerblue;
    }

    .layui-tab-title .layui-this:after {
        height: 51px;
    }

    .layui-tab-title {
        height: 50px;
    }

    .detail {
        text-align: center;
        font-size: 1.2vw;
        height: 18vw;
        display: flex;
        align-items: center;
        justify-content: center;;
    }

    img{
        width: 10vw;
        height: 10vw;
    }

    p{
        height: 2vw;
    }

    .outOfTimePic{
        filter: grayscale(100%);
    }

    .info{
        height: 15vw;
        width: 15vw;
        position: absolute;
        right: -15vw;
        background-color: white;
        z-index: -1;
        text-align: center;
    }

    .info span{
        font-size: 1vw;
        word-wrap:break-word;
        margin-left: 1vw;
    }
</style>