<title>应用列表</title>

<body onload="RunOnBeforeUnload()">
<div class="layui-fluid">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="https://www.juanpao.com/" target="_blank" title="前台">
                        <img src="./src/images/header.png" alt="" style="width:90px; height:33px;">
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a class="go_to_new" href="javascript:void (0)" href="http://elshop.juanpao.com">
                        体验新版后台
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item" lay-unselect style="margin-right: 40px;">
                    <script type="text/html" template lay-done="layui.element.render('nav', 'layadmin-layout-right');">
                        <a href="javascript:;">
                            <cite>{{ localStorage.getItem("name") }}</cite>
                        </a>
                        <dl class="layui-nav-child" style="text-align:center;">
                            <dd><a lay-href="user/info">基本资料</a></dd>
                            <!-- <dd><a lay-href="user/proxy">代理</a></dd> -->
                            <!-- <dd><a lay-href="user/package">套餐购买</a></dd> -->
                            <dd><a lay-href="sms/config">短信管理</a></dd>
                            <!-- <dd><a lay-href="set/user/password">修改密码</a></dd> -->
                            <hr>
                            <dd layadmin-event="logout" style="text-align: center;"><a class="logout">退出</a></dd>
                        </dl>
                    </script>
                </li>
            </ul>
        </div>
    </div>
    <div class="createAn">
		<!--<button type="button" class="layui-btn layui-btn-normal subscribe" title="套餐购买" lay-href="user/package">订购</button>-->
        <a class="layui-btn check_number">
            <!-- <i class="layui-icon layui-icon-add-circle">&#xe61f;</i> -->
            创建应用
        </a>
        <div class="layui-tab-item layui-show combo"></div>
    </div>
</div>
</body>
<!--对应路由-->
<script type="text/javascript">
    layui.use('app/list', layui.factory('app/list'));
</script>
<link type="text/css" rel="styleSheet" href="./src/style/app/list.css"/>
<link type="text/css" rel="styleSheet" href="./src/style/layout.css"/>
<script type="text/javascript" src="./jquery.min.js"></script>
<script type="text/javascript" src="./src/lib/common.js"></script>
<style>
	.subscribe{width: 4.25rem;position: absolute;top: 1.25rem;right: 1.25rem;height: 1.875rem;line-height: 1.875rem;font-size: 0.8rem;}
</style>
<script>
    $(document).off('click', '.go_to_new').on('click', '.go_to_new', function () {
        location.href = 'http://elshop.juanpao.com';
    })
</script>
