@charset "UTF-8";
/** Created by UICUT.com on 2016/12/31. Contact QQ: 215611388 */
html { line-height: 1.15; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

hr { -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; overflow: visible; }

pre { font-family: monospace, monospace; font-size: 1em; }

a { background-color: transparent; }

abbr[title] { border-bottom: none; text-decoration: underline; -webkit-text-decoration: underline dotted; text-decoration: underline dotted; }

b, strong { font-weight: bolder; }

code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

img { border-style: none; }

button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0; }

button, input { overflow: visible; }

button, select { text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

fieldset { padding: 0.35em 0.75em 0.625em; }

legend { -webkit-box-sizing: border-box; box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }

progress { vertical-align: baseline; }

textarea { overflow: auto; }

[type="checkbox"], [type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }

[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

details { display: block; }

summary { display: list-item; }

template { display: none; }

[hidden] { display: none; }

.green { color: #259B24; }

.blue { color: #006EFF; }

.gray { color: #b9bcc7; }

.red { color: #fc4444; }

.orange { color: #ff7802; }

html { font-family: "微软雅黑", "Hiragino Sans GB", "Hiragino Sans GB W3", "宋体", Helvetica, Arial, sans-serif; }

body { font-size: 14px; color: #333; background: #f6f6f6; }

table { border-collapse: collapse; border-spacing: 0; empty-cells: show; font-size: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, audio, canvas, progress, video, body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, a, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea view, text { margin: 0; padding: 0; font-weight: normal; font-style: normal; font-family: inherit; -webkit-box-sizing: border-box; box-sizing: border-box; }

ul, li, ol { list-style: none; line-height: normal; }

i, address, cite, dfn, em, var { font-style: normal; }

input[type=date] { outline: none; border: none; -webkit-appearance: none; }

a { text-decoration: none; color: #333; background-color: transparent; -webkit-text-decoration-skip: objects; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a:active, a:hover, a:focus { color: #f00; outline-width: 0; }

video { border: none; outline: none; display: block; width: 100%; }

a, img, input[type=text], input[type=submit], input[type=password], textarea, select, button, footer, header, time, span, em, i { -webkit-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }

body { min-width: 1280px; }

html, body { min-height: 100%; }

.section-setting .top-operate, .section-setting .main-box, .section-setting .main-left .operate, .section-setting .group .list-paper, .section-setting .group .list, .cf { *zoom: 1; }

.section-setting .top-operate:before, .section-setting .main-box:before, .section-setting .main-left .operate:before, .section-setting .group .list-paper:before, .section-setting .group .list:before, .section-setting .top-operate:after, .section-setting .main-box:after, .section-setting .main-left .operate:after, .section-setting .group .list-paper:after, .section-setting .group .list:after, .cf:before, .cf:after { content: ""; display: table; }

.section-setting .top-operate:after, .section-setting .main-box:after, .section-setting .main-left .operate:after, .section-setting .group .list-paper:after, .section-setting .group .list:after, .cf:after { clear: both; }

.section-setting .edit-box .item { white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

input[type=text], input[type=number], input[type=password], select, button, textarea { border: #333 1px solid; outline: none; }

input:hover[type=text], input:hover[type=number], input:hover[type=password], select:hover, button:hover, textarea:hover, input:focus[type=text], input:focus[type=number], input:focus[type=password], select:focus, button:focus, textarea:focus { border-color: #f00; }

.left, .right { float: left; }

.show { display: block !important; }

.hide { display: none !important; }

.content { width: 1280px; margin-left: auto; margin-right: auto; }

.bg { background-color: #fff; }

.fill { -o-object-fit: fill; object-fit: fill; height: 100%; }

.contain { -o-object-fit: contain; object-fit: contain; height: 100%; }

.cover { -o-object-fit: cover; object-fit: cover; height: 100%; }

.none { -o-object-fit: none; object-fit: none; height: 100%; }

.scale-down { -o-object-fit: scale-down; object-fit: scale-down; height: 100%; }

input[type=text], input[type=number], input[type=password], select, button { width: 100%; border: #bbb 1px solid; height: 30px; border-radius: 5px; padding: 0 5px; }

input[type=text]:focus, input[type=number]:focus, input[type=password]:focus, select:focus, button:focus { border-color: #f00; }

input[type=submit] { width: 100%; outline: none; }

input[type=submit]:hover { opacity: .8; }

button { width: auto; }

textarea { height: auto; min-height: 120px; border: #bbb 1px solid; border-radius: 5px; padding: 5px; }

input[type=file] { cursor: pointer; }

.btn { height: 30px; line-height: 30px; padding: 0 10px; border-radius: 5px; text-align: center; border: none; background-color: #f00; color: #fff; min-width: 80px; }

.btn:hover { opacity: .8; color: #fff; }

.btn.btn-blue { background-color: #006EFF; }

.btn.btn-green { background-color: #259B24; }

.btn.btn-gray { background-color: #b9bcc7; }

.btn.btn-red { background-color: #fc4444; }

.btn.btn-orange { background-color: #ff7802; }

.btn.btn-white { background-color: #fff; color: #333; }

/* ----------------------------------------------------------------------main-------------------------------------------------------------------- */
/* ----------------------------------------------------------------------main-------------------------------------------------------------------- */
.section-setting { padding: 20px; }

.section-setting .content { background-color: #fff; padding: 20px; }

.section-setting .top-operate { margin-bottom: 20px; }

.section-setting .top-operate .btn-add { display: inline-block; float: left; }

.section-setting .top-operate .con { float: left;font-size: 14px; }

.section-setting .top-operate .input { width: 120px; margin: 0 10px; border-radius: 0; }

.section-setting .top-operate .btn-save { display: inline-block; }

.section-setting .main-left { width: 900px; float: left; }

.section-setting .main-left .operate li { height: 40px; float: left; margin-left: 20px; }

.section-setting .main-left .operate li:last-child { float: right; }

.section-setting .main-left .operate select, .section-setting .main-left .operate .input { border-radius: 0; margin: 0 5px; background-color: #f6f6f6; width: 100px; }

.section-setting .main-left .operate .btn-delete { display: inline-block; color: #fff; }

.section-setting .main-left .operate .setFont, .section-setting .main-left .operate .setLine { display: none; }

.section-setting .main-right { width: 320px; float: right; }

.section-setting .main-right .title { font-size: 18px; line-height: 30px; text-align: center; height: 40px; font-weight: bold; }

.section-setting .edit-wrap { width: 900px; height: 900px; background-color: #F4FAFF; overflow: hidden; position: relative; }

.section-setting .edit-over { background-color: transparent; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.section-setting .edit-box { width: 430px; height: 780px; max-width: 100%; max-height: 100%; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color: #fff; border: #259B24 1px dashed; overflow: hidden; }

.section-setting .edit-box .item { line-height: 1.5em; position: absolute; background-color: #fff; left: 10px; top: 10px; padding: 4px; font-size: 12px; }

.section-setting .edit-box .item.item-active { border: 1px #bbb solid; cursor: move; background: url(images/drag.jpg) right center no-repeat, url(images/drag.jpg) center bottom no-repeat, url(images/drag.jpg) right bottom no-repeat; background-color: rgba(82, 200, 255, 0.1); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.section-setting .edit-box .item.item-line { background-color: transparent !important; }

.section-setting .edit-box .item.item-img { width: 100px; height: 100px; position: relative; }

.section-setting .edit-box .item.item-img img { display: block; width: 100%; }

.section-setting .edit-box .item.item-img .img-over { width: 100%; height: 100%; z-index: 9; position: absolute; left: 0; top: 0; }

.section-setting .edit-box .item.item-table { min-width: 5em; }

.section-setting .edit-box .item.item-table table { width: 100%; }

.section-setting .edit-box .item.item-table th, .section-setting .edit-box .item.item-table td {border: $bc 1px solid;line-height: 1em;max-width: 15em;min-width: 3em;padding: 2px!important;}

.section-setting .edit-box .item.item-table th { background-color: #f6f6f6; }

.section-setting .edit-box .item > span { display: block; width: 100%; height: 100%; }

.section-setting .panel { width: 100%; height: 900px; border: #52C8FF 1px dashed; padding: 0 10px; }

.section-setting .group { border-top: #ccc 1px dashed; padding: 3px 0; }

.section-setting .group:first-child { border: none; }

.section-setting .group .subTitle { text-align: center; line-height: 24px; }

.section-setting .group .list-paper { padding: 5px 0; }

.section-setting .group .list-paper .input { width: 50px; border-radius: 0; margin: 0 5px; text-align: center; }

.section-setting .group .list-paper span { margin-left: 2em; }

.section-setting .group .list { padding: 2px 0; }

.section-setting .group .list li { width: 33%; float: left; padding: 6px 0; cursor: pointer; }

.section-setting .group .list .checkbox, .section-setting .group .list .checkbox-table { background: url(images/checkbox.png) 0 center no-repeat; background-size: 20px 20px; padding-left: 24px; }

.section-setting .group .list .checkbox.on, .section-setting .group .list .checkbox-table.on { background-image: url(images/checkbox-on.png); }

.section-setting .group .list .add { background: url(images/add.png) 0 center no-repeat; background-size: 22px 22px; padding-left: 24px; }

.section-setting .group .tips { font-size: 12px; color: #00a824; text-align: center; padding: 5px 0; }

.zoom_right { cursor: e-resize; width: 5px; height: 100%; top: 0; right: 0; z-index: 1; background-color: transparent; position: absolute; }

.zoom_rb { cursor: se-resize; width: 5px; height: 5px; right: 0; bottom: 0; z-index: 3; position: absolute; background-color: transparent; }

.zoom_bottom { cursor: s-resize; width: 100%; height: 5px; position: absolute; bottom: 0; left: 0; z-index: 1; background-color: transparent; }
