
#add_edit_form {
    margin-top: 20px;
}

tbody > tr {
    height: 60px;
}
.asterisk{
    color:red;
}
/* a{
    color:#318AF7;
} */
/* .layui-btn {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding: 0 18px;
    background-color: #1e90ff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
} */
a.the_query{
    margin-top: .5vw;
    margin-left: .5vw;
}
.layui-btn+.layui-btn {
    margin-left: 11.2vw;
}
a.the_save{
    margin-top: .5vw;
}
/*物流方式*/
.logistics_mode{
    margin-left: -28vw;
}
/*列表展示图片时需要添加*/
.layui-table-cell {
    height: auto;
}

#image {
    height: 200px;
    width: 200px;
    margin-top: 10px;
    border: 1px solid #e5e5e5;
}
input[id=addImgPut] :hover {
    cursor: pointer;
}
.layui-layout-admin .layui-body .layadmin-tabsbody-item {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
}
.layui-fluid {
    /* padding-top: 1px;
    padding-bottom: 15px; */
    background-color: #fff;
    /* margin-left: 30px; */
}
















