<div class='content'>
    <div class="headImg">
        <a href="https://www.juanpao.com" target="_blank" class="img-size"><img src="./src/images/header.png"/></a>
    </div>
    <div class="config-body">
        <div class="model-bodys">
            <div class="config-title">短信管理</div>
        </div>
    </div>

</div>

<script type="text/javascript">
    layui.use('sms/config', layui.factory('sms/config'));
</script>

<style>
    .content{width: 100%;height: 100%;}
    .headImg{width: 100%;height: 4rem;border-bottom: 0.0625rem solid #F6F6F6;box-shadow: 0px 1px 5px #F6F6F6;}
    .img-size{width: 120px;height: 44px;margin: 0.625rem 6.25rem;display: inline-block;}
    .img-size img{width: 100%;}
    .config-body{width: 100%;height: auto;margin-top: 3.125rem;}
    .model-bodys{margin: 0 12.5rem;}
    .config-title{text-align: center;font-size: 1.5625rem;line-height: 3.125rem;width: 100%;height: 3.125rem;font-family:"微软雅黑";letter-spacing: 0.1875rem;}
</style>