@charset "UTF-8";
/** Created by UICUT.com on 2016/12/31. Contact QQ: 215611388 */
#uicut-app .blue { color: #269bff; }

#uicut-app .green { color: #5cb85c; }

#uicut-app .orange { color: #f9833d; }

#uicut-app .gray { color: #b9bcc7; }

#uicut-app .red { color: #fc4444; }

html { font-family: "Microsoft YaHei", "Helvetica Neue", "Hiragino Sans GB", "黑体", Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

article, aside, details, figcacption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background: transparent; text-decoration: none; color: #282828; }

a:active, a:hover, a:focus { outline: 0; text-decoration: none; color: #436be5; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

hr { -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; }

ton { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: p; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea, article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, nav, section, source, video, time { margin: 0; padding: 0; font-weight: normal; font-style: normal; font-family: inherit; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: justify; }

body { color: #282828; background: #fff; font: 8px; overflow-x: hidden; }

ul, li, ol { list-style: none; line-height: normal; }

i, address, cite, dfn, em, var { font-style: normal; }

body { min-width: 1200px; }

html, body { min-height: 100%; }

a, img, input[type=text], input[type=submit], input[type=password], textarea, select, button, footer, header, time, span, em, i { -webkit-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }

#uicut-app .alert-buy .con1, #uicut-app .uc-section11 .box1, #uicut-app .uc-section21 .form li, #uicut-app .uc-section41 .box1, #uicut-app .uc-section41 .box1 .item, #uicut-app .uc-section31 .box1, #uicut-app .uc-section31 .box1 .item, #uicut-app .uc-section51 .list, #uicut-app .uc-section51 .item .btm, #uicut-app .uc-section61 .user2, #uicut-app .uc-section71 .list .item, #uicut-app .uc-section81 .box1, #uicut-app .uc-section81 .box1 .right, #uicut-app .uc-section91 .form li, #uicut-app .uc-section91 .form .r, #uicut-app .cf { *zoom: 1; }

#uicut-app .alert-buy .con1:before, #uicut-app .uc-section11 .box1:before, #uicut-app .uc-section21 .form li:before, #uicut-app .uc-section41 .box1:before, #uicut-app .uc-section41 .box1 .item:before, #uicut-app .uc-section31 .box1:before, #uicut-app .uc-section31 .box1 .item:before, #uicut-app .uc-section51 .list:before, #uicut-app .uc-section51 .item .btm:before, #uicut-app .uc-section61 .user2:before, #uicut-app .uc-section71 .list .item:before, #uicut-app .uc-section81 .box1:before, #uicut-app .uc-section81 .box1 .right:before, #uicut-app .uc-section91 .form li:before, #uicut-app .uc-section91 .form .r:before, #uicut-app .alert-buy .con1:after, #uicut-app .uc-section11 .box1:after, #uicut-app .uc-section21 .form li:after, #uicut-app .uc-section41 .box1:after, #uicut-app .uc-section41 .box1 .item:after, #uicut-app .uc-section31 .box1:after, #uicut-app .uc-section31 .box1 .item:after, #uicut-app .uc-section51 .list:after, #uicut-app .uc-section51 .item .btm:after, #uicut-app .uc-section61 .user2:after, #uicut-app .uc-section71 .list .item:after, #uicut-app .uc-section81 .box1:after, #uicut-app .uc-section81 .box1 .right:after, #uicut-app .uc-section91 .form li:after, #uicut-app .uc-section91 .form .r:after, #uicut-app .cf:before, #uicut-app .cf:after { content: ""; display: table; }

#uicut-app .alert-buy .con1:after, #uicut-app .uc-section11 .box1:after, #uicut-app .uc-section21 .form li:after, #uicut-app .uc-section41 .box1:after, #uicut-app .uc-section41 .box1 .item:after, #uicut-app .uc-section31 .box1:after, #uicut-app .uc-section31 .box1 .item:after, #uicut-app .uc-section51 .list:after, #uicut-app .uc-section51 .item .btm:after, #uicut-app .uc-section61 .user2:after, #uicut-app .uc-section71 .list .item:after, #uicut-app .uc-section81 .box1:after, #uicut-app .uc-section81 .box1 .right:after, #uicut-app .uc-section91 .form li:after, #uicut-app .uc-section91 .form .r:after, #uicut-app .cf:after { clear: both; }

#uicut-app input[type=text], #uicut-app input[type=password], #uicut-app select, #uicut-app textarea { border: #282828 1px solid; outline: none; }

#uicut-app input:hover[type=text], #uicut-app input:hover[type=password], #uicut-app select:hover, #uicut-app textarea:hover, #uicut-app input:focus[type=text], #uicut-app input:focus[type=password], #uicut-app select:focus, #uicut-app textarea:focus { border-color: #436be5; }

#uicut-app .left, #uicut-app .right { float: left; }

#uicut-app .show { display: block !important; }

#uicut-app .content { width: 1200px; margin-left: auto; margin-right: auto; }

#uicut-app .bg { background-color: #f5f5f5; }

#uicut-app .fill { -o-object-fit: fill; object-fit: fill; height: 100%; }

#uicut-app .contain { -o-object-fit: contain; object-fit: contain; height: 100%; }

#uicut-app .cover { -o-object-fit: cover; object-fit: cover; height: 100%; }

#uicut-app .none { -o-object-fit: none; object-fit: none; height: 100%; }

#uicut-app .scale-down { -o-object-fit: scale-down; object-fit: scale-down; height: 100%; }

#uicut-app input[type=text], #uicut-app input[type=password], #uicut-app select { width: 100%; border: #eee 1px solid; height: 30px; border-radius: 5px; padding: 0 5px; }

#uicut-app input[type=text]:focus, #uicut-app input[type=password]:focus, #uicut-app select:focus { border-color: #436be5; }

#uicut-app input[type=submit] { width: 100%; outline: none; }

#uicut-app input[type=submit]:hover { opacity: .8; }

#uicut-app textarea { height: auto; min-height: 120px; border: #eee 1px solid; border-radius: 5px; padding: 5px; }

#uicut-app .btn { height: 30px; line-height: 30px; padding: 0 10px; border-radius: 5px; border: #436be5 1px solid; text-align: center; background-color: #436be5; color: #fff; }

#uicut-app .btn:hover { opacity: .8; color: #fff; }

#uicut-app .btn.btn-blue { background-color: #269bff; border-color: #269bff; }

#uicut-app .btn.btn-gray { background-color: #b9bcc7; border-color: #b9bcc7; }

#uicut-app .btn.btn-red { background-color: #fc4444; border-color: #fc4444; }

#uicut-app .btn.btn-orange { background-color: #f9833d; border-color: #f9833d; }

#uicut-app .btn.btn-white { background-color: #fff; border-color: #eee; color: #282828; }

#uicut-app .btn.btn-green { background-color: #5cb85c; border-color: #5cb85c; color: #fff; }

#uicut-app .alert { display: none; width: 100%; height: 100%; position: fixed; top: 0; left: 0%; z-index: 99; background-color: rgba(0, 0, 0, 0.1); }

#uicut-app .alert .box { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color: #fff; -webkit-box-shadow: 0px 5px 10px 0 #ccc; box-shadow: 0px 5px 10px 0 #ccc; z-index: 9; }

#uicut-app .alert .title { width: 100%; border-bottom: #eee 1px solid; line-height: 50px; font-size: 14px; padding: 0 20px; }

#uicut-app .alert .btn-close { width: 50px; height: 50px; background: url("images/close.png") center center no-repeat; position: absolute; right: 10px; top: 10px; }

#uicut-app .alert .btn-close:hover { opacity: .8; }

#uicut-app .alert .over-close { width: 100%; height: 100%; position: absolute; left: 0; top: 0; }

#uicut-app .alert-buy .box { width: 600px; border-radius: 30px; padding: 50px; }

#uicut-app .alert-buy .con1 img { width: 90px; height: 90px; display: block; float: left; margin-right: 20px; }

#uicut-app .alert-buy .r { float: left; padding-top: 5px; }

#uicut-app .alert-buy .r h3 { font-size: 24px; margin: 5px 0; }

#uicut-app .alert-buy .r p { font-size: 21px; color: #f9833d; }

#uicut-app .alert-buy .con2 { font-size: 16px; line-height: 24px; text-align: justify; color: #666; }

#uicut-app .alert-buy .con2 h4 { font-size: 18px; margin-top: 15px; }

#uicut-app .alert-buy .operate { text-align: center; margin-top: 30px; }

#uicut-app .alert-buy .operate .btn { display: inline-block; border-radius: 36px; line-height: 34px; height: 36px; min-width: 120px; font-size: 20px; }

/* ----------------------------------------------------------------------main-------------------------------------------------------------------- */
#uicut-app { font-size: 14px; }

#uicut-app .g-table { width: 100%; }

#uicut-app .g-table table { width: 100%; }

#uicut-app .g-table th { background-color: #f5f5f5; text-align: center; line-height: 45px; }

#uicut-app .g-table td { text-align: center; padding: 20px 10px; }

#uicut-app .g-table td.tLeft { text-align: left; }

#uicut-app .g-table tr { border-bottom: #eee 1px solid; line-height: 20px; }

#uicut-app .g-table .btn-green { display: inline-block; min-width: 52px; line-height: 28px; height: 30px; margin-left: 10px; }

#uicut-app .g-table .btn-green:first-child { margin-left: 0; }

#uicut-app .checkbox, #uicut-app .radio { background: #fff url(images/checkbox.png) center center no-repeat; background-size: 20px 20px; width: 24px; height: 24px; display: inline-block; cursor: pointer; }

#uicut-app .checkbox.on, #uicut-app .radio.on { background-image: url(images/checkbox-on.png); }

#uicut-app .uc-section11 { padding: 10px; background-color: #fff; min-width: 900px; }

#uicut-app .uc-section11 .box1 { background-color: #f5f5f5; padding: 15px 30px; line-height: 32px; }

#uicut-app .uc-section11 .box1 span { float: left; }

#uicut-app .uc-section11 .box1 input[type=text] { width: 200px; border-radius: 0; border: #ccc 1px solid; margin-left: 10px; padding: 0 10px; float: left; height: 32px; }

#uicut-app .uc-section11 .box1 .btn { float: left; width: 80px; border-radius: 0; height: 32px; border: none; margin-left: 10px; line-height: 30px; }

#uicut-app .uc-section11 .box2 { margin-top: 20px; }

#uicut-app .uc-section21 { padding: 60px 10px 10px 10px; background-color: #fff; }

#uicut-app .uc-section21 .title { background-color: #f5f5f5; line-height: 40px; padding-left: 200px; margin-bottom: 20px; }

#uicut-app .uc-section21 .form li { position: relative; padding-left: 220px; line-height: 32px; margin-bottom: 20px; }

#uicut-app .uc-section21 .form .tt { position: absolute; left: 0; width: 200px; text-align: right; }

#uicut-app .uc-section21 .form input[type=text] { width: 140px; height: 32px; border: #767676 1px solid; border-radius: 0; float: left; margin-right: 10px; }

#uicut-app .uc-section21 .form .checkbox { background-position: 0 center; padding-left: 30px; width: auto; line-height: 32px; height: 32px; display: inline-block; margin-right: 40px; }

#uicut-app .uc-section21 .btn-upload { position: relative; overflow: hidden; width: 287px; height: 60px; }

#uicut-app .uc-section21 .btn-upload img { display: block; }

#uicut-app .uc-section21 .btn-upload input[type=file] { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; }

#uicut-app .uc-section21 .chooseTime .item { float: left; background-color: #eeeeee; border-radius: 3px; margin-right: 30px; float: left; }

#uicut-app .uc-section21 .chooseTime em { float: left; margin-right: 30px; }

#uicut-app .uc-section21 .chooseTime select { width: 50px; }

#uicut-app .uc-section21 .chooseTime i { margin: 0 10px; }

#uicut-app .uc-section21 .chooseTime .tips { color: #999; }

#uicut-app .uc-section21 .operate { padding: 60px 0; text-align: center; }

#uicut-app .uc-section21 .operate .btn { display: inline-block; min-width: 120px; line-height: 37px; height: 39px; font-size: 16px; }

#uicut-app .uc-section41 { padding: 10px; background-color: #fff; }

#uicut-app .uc-section41 .box1 { background-color: #f5f5f5; padding: 15px 20px; line-height: 32px; margin-bottom: 20px; }

#uicut-app .uc-section41 .box1 span { float: left; }

#uicut-app .uc-section41 .box1 input[type=text] { width: 100px; border-radius: 0; border: #ccc 1px solid; margin-left: 10px; padding: 0 10px; float: left; height: 32px; }

#uicut-app .uc-section41 .box1 .btn { float: left; min-width: 50px; border-radius: 0; height: 32px; border: none; line-height: 30px; }

#uicut-app .uc-section41 .box1 .item { float: left; margin-left: 20px; }

#uicut-app .uc-section41 .box1 .item:first-child { margin-left: 0; }

#uicut-app .uc-section41 .box1 .btn-gray { color: #282828; }

#uicut-app .uc-section41 .box1 .item1 input[type=text] { width: 180px; }

#uicut-app .uc-section41 .box1 .item2 input[type=text] { width: 200px; }

#uicut-app .uc-section41 .box1 .item4 .btn { margin-left: 10px; width: 80px; }

#uicut-app .uc-section41 .g-table th:first-child { width: 60px; }

#uicut-app .uc-section41 .g-table th:first-child .checkbox { position: relative; top: 7px; }

#uicut-app .uc-section41 .g-table th:nth-child(2) { width: 60px; }

#uicut-app .uc-section41 .g-table td:last-child { color: #999; }

#uicut-app .uc-section41 .g-table td:last-child a { margin: 0 5px; }

#uicut-app .uc-section41 .g-table .face { width: 45px; height: 45px; border-radius: 5px; overflow: hidden; }

#uicut-app .uc-section31 { padding: 10px; background-color: #fff; }

#uicut-app .uc-section31 .box1 { background-color: #f5f5f5; padding: 15px 20px; line-height: 32px; margin-bottom: 20px; }

#uicut-app .uc-section31 .box1 span { float: left; }

#uicut-app .uc-section31 .box1 input[type=text], #uicut-app .uc-section31 .box1 select { width: 100px; border-radius: 0; border: #ccc 1px solid; margin-left: 10px; padding: 0 10px; float: left; height: 32px; }

#uicut-app .uc-section31 .box1 .btn { float: left; min-width: 50px; border-radius: 0; height: 32px; border: none; line-height: 30px; }

#uicut-app .uc-section31 .box1 .item { float: left; margin-left: 40px; }

#uicut-app .uc-section31 .box1 .item:first-child { margin-left: 0; }

#uicut-app .uc-section31 .box1 .btn-gray { color: #282828; }

#uicut-app .uc-section31 .box1 .item2 input[type=text] { width: 200px; }

#uicut-app .uc-section31 .box1 .item3 input[type=text] { width: 300px; }

#uicut-app .uc-section31 .box1 .item3 .btn { margin-left: 10px; width: 80px; }

#uicut-app .uc-section31 .g-table th:first-child { width: 60px; }

#uicut-app .uc-section31 .g-table th:first-child .checkbox { position: relative; top: 7px; }

#uicut-app .uc-section31 .g-table .face { float: left; margin-right: 10px; }

#uicut-app .uc-section31 .g-table .name { position: relative; top: 10px; }

#uicut-app .uc-section31 .g-table td:last-child { color: #999; }

#uicut-app .uc-section31 .g-table td:last-child a, #uicut-app .uc-section31 .g-table td:last-child i { margin: 0 5px; }

#uicut-app .uc-section31 .g-table .face { width: 45px; height: 45px; border-radius: 5px; overflow: hidden; }

#uicut-app .uc-section51 { padding: 45px; }

#uicut-app .uc-section51 .title { line-height: 45px; background-color: #f3f3f3; padding-left: 20px; font-size: 24px; }

#uicut-app .uc-section51 .list { padding: 20px; }

#uicut-app .uc-section51 .item { margin: 50px 10px 5px 10px; float: left; border-radius: 20px; background-color: #fff; -webkit-box-shadow: 0 2px 10px 0 #eee; box-shadow: 0 2px 10px 0 #eee; position: relative; padding: 40px 30px 30px; width: 300px; height: 170px; }

#uicut-app .uc-section51 .item h3 { font-size: 18px; margin-bottom: 5px; }

#uicut-app .uc-section51 .item .txt { font-size: 13px; line-height: 24px; color: #868686; height: 48px; overflow: hidden; }

#uicut-app .uc-section51 .item .btm { margin-top: 10px; }

#uicut-app .uc-section51 .item .btm .orange, #uicut-app .uc-section51 .item .btm time { font-size: 18px; color: #f9833d; }

#uicut-app .uc-section51 .item .btm .btn { float: right; border-radius: 26px; line-height: 24px; height: 26px; }

#uicut-app .uc-section51 .btn-edit { position: absolute; left: 50%; top: -30px; margin-left: -30px; }

#uicut-app .uc-section51 .btn-edit img { display: block; }

#uicut-app .uc-section61 { padding: 45px; }

#uicut-app .uc-section61 .box { border-radius: 20px; -webkit-box-shadow: 0 2px 10px 0 #eee; box-shadow: 0 2px 10px 0 #eee; background-color: #fff; width: 100%; padding: 30px 50px; margin-bottom: 45px; }

#uicut-app .uc-section61 .user1 h3 { font-size: 20px; }

#uicut-app .uc-section61 .user1 p { font-size: 13px; margin: 10px 0; }

#uicut-app .uc-section61 .user1 .btn { display: inline-block; border-radius: 0; background-color: #1e90ff; border: none; }

#uicut-app .uc-section61 .user2 .face { width: 66px; height: 66px; border-radius: 100%; overflow: hidden; display: block; float: left; margin-right: 20px; }

#uicut-app .uc-section61 .user2 .r { float: left; line-height: 24px; padding-top: 9px; }

#uicut-app .uc-section61 .user2 .r h3 { font-size: 18px; }

#uicut-app .uc-section61 .user2 .status { margin-left: 10px; background: url(images/ok.png) 0 center no-repeat; padding-left: 20px; color: #5cb85c; margin-right: 10px; font-size: 14px; }

#uicut-app .uc-section61 .user2 .red { font-size: 14px; margin-left: 10px; }

#uicut-app .uc-section61 .form { width: 680px; margin: 50px auto; font-size: 14px; }

#uicut-app .uc-section61 .form .input { width: 320px; height: 40px; border-radius: 0; border: #ccc 1px solid; }

#uicut-app .uc-section61 .form li { position: relative; padding-left: 180px; margin-bottom: 40px; }

#uicut-app .uc-section61 .form .tt { position: absolute; text-align: right; left: 0; width: 170px; line-height: 40px; }

#uicut-app .uc-section61 .form .tt.line-two { line-height: 20px; }

#uicut-app .uc-section61 .form.form2 .input { width: 520px; background-color: #eeeeee; }

#uicut-app .uc-section61 .form.form2 .btn { display: inline-block; border-radius: 3px; margin-right: 10px; }

#uicut-app .uc-section61 .upload { border-radius: 5px; border: #5cb85c 1px solid; width: 50px; line-height: 18px; color: #5cb85c; text-align: center; display: inline-block; overflow: hidden; height: 20px; position: relative; top: 10px; margin-left: 10px; font-size: 12px; }

#uicut-app .uc-section61 input[type=file] { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; }

#uicut-app .uc-section61 .operate { text-align: center; }

#uicut-app .uc-section61 .operate .btn { border-radius: 3px; display: inline-block; width: 80px; line-height: 28px; height: 30px; background-color: #1e90ff; border-color: #1e90ff; }

#uicut-app .uc-section61 .operate.operate2 { padding-left: 170px; padding-bottom: 50px; }

#uicut-app .uc-section61 .other { padding: 60px 0; text-align: center; }

#uicut-app .uc-section61 .other p { text-align: center; padding: 5px 0; }

#uicut-app .uc-section71 { padding: 10px; background-color: #fff; }

#uicut-app .uc-section71 .box1 { position: relative; border-radius: 10px; background-color: #cce6fb; padding: 10px 20px 10px 130px; line-height: 32px; }

#uicut-app .uc-section71 .box1 .tt { font-size: 18px; color: #fd6b72; position: absolute; left: 20px; }

#uicut-app .uc-section71 .box1 p { font-size: 16px; color: #838182; }

#uicut-app .uc-section71 .box3 { padding: 20px 0; font-size: 16px; }

#uicut-app .uc-section71 .box3 .btn { display: inline-block; margin-right: 10px; border: none; }

#uicut-app .uc-section71 .list .th { background-color: #f4f4f4; }

#uicut-app .uc-section71 .list .item { line-height: 50px; font-size: 14px; height: 50px; overflow: hidden; border-bottom: #eee 1px solid; margin: 0; padding: 0 10px; }

#uicut-app .uc-section71 .list .item > div { float: left; width: 14%; }

#uicut-app .uc-section71 .list .sp3, #uicut-app .uc-section71 .list .sp4, #uicut-app .uc-section71 .list .sp5, #uicut-app .uc-section71 .list .sp7 { text-align: center; }

#uicut-app .uc-section71 .list .subItem { display: none; }

#uicut-app .uc-section71 .list .subItem.show { display: block; }

#uicut-app .uc-section71 .list .btns { margin: 0 5px; }

#uicut-app .uc-section71 .list .icon { width: 40px; height: 40px; border-radius: 100%; overflow: hidden; margin: 5px auto; display: block; }

#uicut-app .uc-section71 .list .icon2 { width: 110px; height: 40px; display: block; margin: 5px auto; display: block; }

#uicut-app .uc-section71 .list .btn-showSub { width: 20px; height: 20px; display: inline-block; background: url(images/right.png) center center no-repeat; background-size: 16px 16px; float: left; margin-top: 15px; }

#uicut-app .uc-section71 .list .btn-showSub.on { background-image: url(images/down.png); }

#uicut-app .uc-section71 .list .input { width: 80px; border: #ddd 1px solid; }

#uicut-app .uc-section71 .list .line { width: 24px; height: 24px; background: url(images/line.png) 0 0 no-repeat; background-size: 100% 100%; display: inline-block; float: left; margin-top: 13px; margin-left: 20px; }

#uicut-app .btn-switch { width: 50px; height: 50px; background: url(images/switch.png) center center no-repeat; background-size: 100% 100%; display: inline-block; }

#uicut-app .btn-switch.on { background-image: url(images/switch-on.png); }

#uicut-app .uc-section81 { padding: 10px; background-color: #fff; }

#uicut-app .uc-section81 .box1 { padding: 15px 0px; line-height: 32px; margin-bottom: 20px; }

#uicut-app .uc-section81 .box1 .left { float: left; }

#uicut-app .uc-section81 .box1 .right { float: right; }

#uicut-app .uc-section81 .box1 input[type=text], #uicut-app .uc-section81 .box1 select { width: 200px; border-radius: 0; border: #ccc 1px solid; padding: 0 10px; float: left; height: 32px; display: block; margin: 0 0 0 -1px; }

#uicut-app .uc-section81 .box1 .btn { float: left; min-width: 70px; border-radius: 0; height: 32px; border: none; line-height: 30px; width: auto; }

#uicut-app .uc-section81 .g-table th:first-child { width: 60px; }

#uicut-app .uc-section81 .g-table th:first-child .checkbox { position: relative; top: 7px; }

#uicut-app .uc-section81 .g-table .face { float: left; margin-right: 10px; }

#uicut-app .uc-section81 .g-table .name { position: relative; top: 10px; text-decoration: none; max-width: 300px; margin-bottom: 10px; }

#uicut-app .uc-section81 .g-table td:last-child { color: #999; }

#uicut-app .uc-section81 .g-table td:last-child a, #uicut-app .uc-section81 .g-table td:last-child i { margin: 0 5px; }

#uicut-app .uc-section81 .g-table .face { width: 45px; height: 45px; border-radius: 5px; overflow: hidden; }

#uicut-app .uc-section81 .g-table .l { float: left; margin-right: 10px; }

#uicut-app .uc-section81 .g-table .img { width: 70px; height: 70px; display: block; }

#uicut-app .uc-section81 .g-table .r { float: left; }

#uicut-app .uc-section81 .g-table .btn-switch { line-height: 50px; color: #fff; }

#uicut-app .uc-section81 .g-table .btn-switch .i2 { display: none; }

#uicut-app .uc-section81 .g-table .btns { width: 24px; height: 24px; background: url(images/edit.png) center center no-repeat; background-size: 100% 100%; border: #eee 1px solid; display: inline-block; }

#uicut-app .uc-section81 .g-table .btn2 { background-image: url(images/delete.png); }

#uicut-app .uc-section81 .g-table .btn3 { background-image: url(images/link.png); }

#uicut-app .uc-section81 .g-table .btn4 { background-image: url(images/qrcode.png); }

#uicut-app .uc-section81 .total { text-align: right; line-height: 50px; }

#uicut-app .uc-section91 { padding: 60px 10px 10px 10px; background-color: #fff; }

#uicut-app .uc-section91 .title { background-color: #f5f5f5; line-height: 40px; padding-left: 20px; margin-bottom: 20px; }

#uicut-app .uc-section91 .form li { position: relative; padding-left: 220px; line-height: 32px; margin-bottom: 20px; }

#uicut-app .uc-section91 .form .tt { position: absolute; left: 0; width: 200px; text-align: right; }

#uicut-app .uc-section91 .form input[type=text], #uicut-app .uc-section91 .form select { width: 400px; height: 32px; border-radius: 0; float: left; margin-right: 10px; }

#uicut-app .uc-section91 .form input[type=text].w50, #uicut-app .uc-section91 .form select.w50 { width: 195px; }

#uicut-app .uc-section91 .form input[type=text].w33, #uicut-app .uc-section91 .form select.w33 { width: 126px; }

#uicut-app .uc-section91 .form .checkbox { background-position: 0 center; padding-left: 30px; width: auto; line-height: 32px; height: 32px; display: inline-block; margin-right: 40px; }

#uicut-app .uc-section91 .form .face { width: 40px; height: 40px; display: block; float: left; margin-right: 10px; position: relative; top: -5px; }

#uicut-app .uc-section91 .form .radio { width: auto; padding-left: 30px; margin-right: 30px; line-height: 24px; background-position: 0 center; }

#uicut-app .uc-section91 .form .btn-switch { float: left; height: 30px; background-size: 100% auto; margin-right: 10px; }

#uicut-app .uc-section91 .form .btn-white { background-color: #b9bcc7; display: inline-block; color: #fff; }

#uicut-app .uc-section91 .map-box > img { display: block; }

#uicut-app .uc-section91 .operate { padding: 60px 0; text-align: center; }

#uicut-app .uc-section91 .operate .btn { display: inline-block; min-width: 120px; line-height: 37px; height: 39px; font-size: 16px; }
