
<title>授权获得 layuiAdmin</title>

<div class="layui-fluid"> 
  <div class="layui-row layui-col-space15 layadmin-panel-selection">
    <div class="layui-col-sm6">
      <div class="layui-panel-window layui-text">
        <h2>常规版</h2>
        <ul>
          <li>始终基于全新的 layui 版本</li>
          <li style="color: #FF5722;">基于 iframe 标签页实现，方便实用</li>
          <li style="color: #FF5722;">传统开发模式，撸起袖子直接开干</li>
          <li style="color: #FF5722;">交互体验相比“专业版”有所欠缺</li>
          <li>面向全屏幕尺寸的响应式适配能力</li>
          <li>灵活的主题色配置</li>
          <li>专属的开发者文档，助你快速掌握</li>
          <li>版本的持续更新，集大众之所需</li>
          <li>专属的会员群，与同道中人隔空交流</li>
          <li>layui 社区 VIP 标识</li>
          <li>不限制域名、不限制应用的项目数量</li>
        </ul>
        <div class="layui-row layui-col-space10 layui-btn-container">
          <div class="layui-col-sm6">
            <a href="http://fly.layui.com/order/bill?itemid=5" target="_blank" class="layui-btn">一年授权</a>
          </div>
          <div class="layui-col-sm6">
            <a href="http://fly.layui.com/order/bill?itemid=6" target="_blank" class="layui-btn">
              永久授权 
              <span class="layui-badge">hot</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-sm6">
      <div class="layui-panel-window layui-text">
        <h2>专业版</h2>
        <ul>
          <li>始终基于全新的 layui 版本</li>
          <li style="color: #FF5722;">单页面应用，所有操作无需跳转</li>
          <li style="color: #FF5722;">采用前后端分离开发模式</li>
          <li style="color: #FF5722;">更友好的交互体验，减轻浏览器负载</li>
          <li>面向全屏幕尺寸的响应式适配能力</li>
          <li>灵活的主题色配置</li>
          <li>专属的开发者文档，助你快速掌握</li>
          <li>版本的持续更新，集大众之所需</li>
          <li>专属的会员群，与同道中人隔空交流</li>
          <li>layui 社区 VIP 标识</li>
          <li>不限制域名、不限制应用的项目数量</li>
        </ul>
        <div class="layui-row layui-col-space10 layui-btn-container">
          <div class="layui-col-sm6">
            <a href="http://fly.layui.com/order/bill?itemid=3" target="_blank" class="layui-btn">一年授权</a>
          </div>
          <div class="layui-col-sm6">
            <a href="http://fly.layui.com/order/bill?itemid=4" target="_blank" class="layui-btn">
              永久授权 
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-sm12">
      <div class="layui-panel-window layui-text">
        <h2>套餐版</h2>
        <ul>
          <li>同时拥有 layuiAdmin “常规版”和“专业版”永久授权</li>
          <li>面对不同项目可自由选择，效率进阶两不误</li>
        </ul>
        <div class="layui-btn-container">
          <a href="http://fly.layui.com/order/bill?itemid=10" target="_blank" class="layui-btn" style="width: auto;">
            永久授权 
            <span class="layui-badge">hot</span>
          </a>
        </div>
      </div>
    </div>
    <blockquote class="layui-col-sm12 layui-elem-quote" style="margin-top: 15px;">
      你所获得的不仅仅是一款高精品的后台管理模板系统，更是一项关于时间与效率的高收益回报
    </blockquote>
  </div>
</div>