<title>选择页面链接-通用</title>
<div class="layui-fluid">
    <div class="layui-tab" lay-filter="choicePageUrl">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="1">常用链接</li>
            <li lay-id="2">商品分类</li>
            <li lay-id="3">商品</li>
            <li lay-id="4">自定义链接</li>
            <li lay-id="5">门店</li>
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
            <form>
                <div class="layui-tab-item layui-show">
                    <ul class="choicePageUrl">
                        <div class="layui-form-item">
                            <label class="layui-form-label">小程序id</label>
                            <div class="layui-input-inline">
                                <input name="app_id" required lay-verify="required" placeholder="请输入小程序id" class="layui-input">
                            </div>
                        </div>
                    </ul>
                    <a class="layui-btn" id="btn" lay-submit lay-filter="choicePageUrlSub">保存</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!--添加/编辑签名-->
<script type="text/javascript">
    layui.use('choicePageUrl', layui.factory('choicePageUrl'));
</script>

<style>
    .choicePageUrlLi {
        margin: 1vw 1vw 1vw 1vw;
        width: 80%;
        font-size: 0.8vw;
    }

    .choicePageUrlLi img {
        width: 1.8vw;
        height: 1.8vw;
        border: 1px blue;
    }

    .choicePageUrlLi span {
        padding-left: 0.5vw;
    }

    #btn {
        margin: 1vw 0vw 1vw 0vw;
    }
</style>
